/************************ Menu ********************************/
.menu {
    float: left;
}

.menu__handler {
    height: 104px;
    width: 110px;
    position: relative;
    cursor: pointer;
    border-bottom: solid 1px #fff;
}

.no-ipad .menu:hover .menu__handler,
.menu__handler_active {
    background: #364657;
    border-color: #565a5d;
}

.menu__brick {
    position: absolute;
    width: 26px;
    height: 16px;
    left: 50%;
    top: 50%;
    margin: -8px 0 0 -13px;

}

.menu__brick-item {
    width: 100%;
    height: 4px;
    background: #000;
    margin-top: 2px;
}

.menu__brick-item:first-child {
    margin: 0;
}

.no-ipad .menu:hover .menu__handler .menu__brick-item, .menu__handler_active .menu__brick-item {
    background: #fff;
}

.menu-drop {
    width: 0;
    position: fixed;
    left: -282px;
    top: 105px;

    overflow: hidden;
    z-index: 250;

    background: #f6f6f6;
    box-shadow: 2px 2px 10px 0 #efefef inset;

    transition: all 0.3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    -webkit-transition: all 0.3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    -o-transition: all 0.3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
}

.menu-drop_open {
    left: 0;
    width: 282px;
}

.menu-drop__search {
    padding: 8px 10px 8px;
    background: #364657;
}

.menu-drop__list {
    display: block;
    list-style: none;
    background: #364657;
}

.menu-drop__list-item {
    border-top: solid 1px #565a5d;
}

.menu-drop__list-item:first-child {
    margin-top: -1px;
}

.menu-drop__list-item:hover {
    /*background: #303c49;*/
    background: #445363;
}

.menu-drop__list-link {
    font-family: 'pf_highway_sans_prolight';
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    display: block;
    position: relative;
    padding: 26px 0 23px 70px;
}

.menu-drop__list-link:before {
    display: block;
    position: absolute;
    content: '';
    width: 36px;
    height: 28px;
    background-image: url(../img/menu-icons.png);
    background-repeat: no-repeat;
    top: 50%;
    left: 20px;
    margin-top: -12px;
}

.menu-drop__list-link_home:before {
    background-position: 0 0;
}

.menu-drop__list-link_avtostrahovanie:before {
    background-position: 0 -30px;
}

.menu-drop__list-link_strahovanie-puteshestvennikov:before {
    background-position: 0 -60px;
}

.menu-drop__list-link_strahovanie-kvartiry:before {
    background-position: 0 -90px;
}

.menu-drop__list-link_strahovanie-zhizni:before {
    background-position: 0 -120px;
}

.menu-drop__login {
    padding: 30px 20px 0 25px;
    height: 150px;
    width: 237px;
}

.account-link {
    display: block;
    padding: 14px 0 12px 60px;
    font-size: 18px;
    font-family: 'pf_highway_sans_prolight';
    line-height: 18px;
    color: #000;
    text-decoration: none;
    margin-top: 30px;
}

.account-link:before {
    background-position: 0 -44px;
    height: 22px;
    left: 14px;
    top: 50%;
    margin-top: -11px;
}

.account-link:after {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #dadada;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    z-index: 1;
}

.insurance-menu {
    float: left;
    margin: 44px 0 0 86px;
    font-size: 20px;
    line-height: 20px;
    position: relative;
    padding-right: 20px;
}



/************************ Menu ********************************/

/******************************** Menu Input *******************************/
.menu-drop__input {
    border: solid 1px #565a5d;
    line-height: 20px;
    padding: 10px 34px 8px 56px;
    color: #767A7C;
    display: block;
    font-family: 'pragmatica_light';
    font-size: 18px;
    background: transparent;
    border-radius: 5px;
    width: 170px;
}

.menu-drop__input._active {
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

.menu-drop__input-wrap {
    position: relative;
}

.menu-drop__input-wrap:before {
    right: auto;
    background: url(../img/icons.png) 0 0 no-repeat;
    height: 20px;
    left: 16px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 21px;
}

/******************************** Menu Input *******************************/

/************************* Header ************************************/
.header._abs {
    position: absolute;
}
.header.active {
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
    box-shadow: 0 0 4px rgba(0,0,0,.2);
}
.header__contact {
    /*float: left;*/
    display: inline-block;
    vertical-align: top;
    margin-top: 28px;
}

.header__left {
    float: left;
    min-width: 600px;
}

.header__right {
    float: right;
    margin-right: 130px;
    position: relative;
}

.header__phone {
    font-size: 25px;
    line-height: 25px;
    font-family: 'pf_highway_sans_prolight', Arial, Verdana, sans-serif;
}

.yellow-btn.yellow-btn__header-buy {
    /*float: left;*/
    display: inline-block;
    vertical-align: top;
    margin-top: 28px;
    margin-left: 22px;
    font-family: 'pragmatica_light', Arial, Verdana, sans-serif;
    font-size: 18px;
}

.logo {
    float: left;
    display: block;
    margin: 10px 0 0 10px;
}

.login {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background-color: #dadada;
    /*float: left;*/
    margin: 28px 0 0 20px;
}

.login:before {
    background-position: 0 -22px;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
}

.login._active:before,
.login:hover:before {
    background-position: 0 -44px;
}

.login_logout:before, .login_logout:hover:before, .login_logout._active:before {
    background-position: 0 -88px;
    height: 22px;
    width: 22px;
    margin-top: -13px;
}

.login_logout, .login_logout._active, .login_logout:hover {
    background-color: #74a3c7;
}

.login._hidden {
    display: none;
}

.header__phone_link {
    border-bottom: 1px dashed #70a4d8;
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
    margin-top: 13px;
    color: #74a3c7;
    cursor: pointer;
}
/************************* Header ************************************/

/************************* Login window popup ***************************/
#loginEnterConfirm,
.login-confirm {
    display: none;
}

.win-popup {
    position: absolute;
    right: -14px;
    top: 92px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
    width: 573px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
    border-radius: 3px;
    z-index: 50;
    padding: 13px 10px 20px 20px;
    display: none;
}

.win-popup._active {
    display: block;
}

.win-popup._inactive {
    display: none;
}

.ie9 .win-popup {
    background: none;
    background: rgba(255, 255, 255, 0.96);
}

.win-popup-group {
    display: inline;
}

.win-popup:before {
    content: '';
    position: absolute;
    right: 27px;
    top: -9px;
    width: 18px;
    height: 9px;
    background: url(../img/popup-arr.png) no-repeat 0 0;
}

.win-popup__close {
    background: url(../img/popup-close.png) no-repeat 0 0;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 55;
    cursor: pointer;
}

/*
.win-popup-wrap {
    position: absolute;
    top: 125px;
    left: 500px;
}*/

.win-popup__title {
    font-size: 24px;
    font-family: 'pf_highway_sans_prolight';
}


.win-popup__column__inner_login {
    padding-left: 13px;
}

.win-popup__column__inner_confirm {
    padding-left: 24px;
}

.win-popup__column_all {
    margin-top: 22px;
}

.win-popup-title_registration {
    display: none;
}

.win-popup_login .txt_text {
    font-size: 15px;
    color: #000;
}

.link_login {
    color: #70a4d8;
}

.link_dashed {
    text-decoration: none;
    border-bottom: 1px dashed #70a4d8;
    display: inline-block;
}

.link_login.link_dashed {
    font-size: 13px;
    line-height: 12px;
    margin-bottom: 15px;
}

.link_login.link_dashed:hover {
    border-color: transparent;
}

.popup_login .social {
    position: static;
    margin: 8px 0 9px;
}

.event-item .cta,
.link_bordered {
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    text-align: center;
    border: solid 2px #77808b;
    border-radius: 24px;
    font-family: 'pragmatica_book';
    color: #000;
    text-decoration: none;
    padding: 13px 26px;
    width: 186px;
}

.event-item .cta:hover,
.link_bordered:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/************************* Login popup ***************************/

/************************* Call request popup ********************/
.win-popup_callback {
    width: 335px;
    right: 192px;
    top: 79px;
    padding-left: 15px;
    padding-right: 15px;
}

.win-popup_callback:before {
    right: 172px;
}

.win-popup .form__text {
    text-align: center;
    margin: 27px 0 25px;
    font-size: 17px;
    font-family: 'pragmatica_book';
}

.win-popup .cta, .form_callback-submit .cta {
    display: block;
    margin: 0 auto 15px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 176px;
}

.win-popup .cta.cta_send-code._active:hover,
.win-popup .cta.cta_send-code._active,
.win-popup .cta:hover, .form_callback-submit .cta:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.win-popup .cta.cta_send-code:hover {
    background-color: #fff;
}

.win-popup .form_auth .cta {
    margin: 15px 0 0 0;
}

.form_callback-submit .cta {
    margin: 15px auto 0;
    width: 188px;
}

.blue-link.blue-link_current {
    color: #77808b;
    border-color: #77808b;
    cursor: default;
}

.blue-link_dashed.blue-link_current:hover {
    border-color: #77808b;
}

.win-popup .form_auth .cta.cta_send-code {
    width: 206px;
    padding-left: 16px;
    padding-right: 16px;
}
/********************* end Call request popup ********************/

/********************** Search results **************************/
.search-result {
    position: absolute;
    background: #354555;
    z-index: 160;
    left: 0;
    color: #fff;
    font-size: 18px;
    width: 100%;
}

.search-result__item {
    border-bottom: solid 1px #565a5d;
}

.search-result__link {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 18px 0 18px 26px;
}

.search-result__link:hover {
    background: #303c49;
}

.search-result__link b {
    font-family: 'pragmatica_book';
    font-size: 19px;
}
/********************** Search results **************************/

.win-popup_logout .account__block_user div {
    font-size: 24px;
    line-height: 30px;
    font-family: 'pragmatica_light';
    margin-bottom: 0;
    min-width: 230px;
    width: auto;
    padding: 0;
}

.win-popup_logout .account__block_user {
    width: auto;

}

.form_logout {

}

.win-popup_logout {
    width: 280px;
}
.win-popup .cta_personal {
    width: 138px;
    margin: 24px 0 0;
    padding: 12px 20px 11px;
    display: inline-block;

}

.win-popup .cta_logout {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #74a3c7;
    margin-left: 20px;
}

.win-popup .cta_personal:hover {
    background-color: #FFD500;
}

.calculation-link {
    font-size: 16px;
    color: #70a4d8;
    display: inline-block;
    margin-top: 20px;
}

.calculation-link .account__quick-links__informer {
    width: 24px;
    height: 22px;
    border-radius: 24px;
    font-size: 14px;
    padding-top: 2px;
    margin-top: -2px;
}

.fixfixed .header { 
    position: absolute;
}


/****************** old browsers panel ******************/
.old-browsers-panel {
    background: #3e4757;
    color: #fff;
    font: 20px/25px 'pf_highway_sans_prolight';
    padding: 23px 0 33px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: none;
    height: 116px;
}

.old-browsers-panel__wrap {
    position: relative;
    width: 1004px;
    margin: 0 auto;
}

.old-browsers-panel__close {
    background: url(../img/close-white_big.png) no-repeat 0 0;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.old-browsers-panel__text {
    margin-right: 45px;
}

.old-browsers-panel__text {
    margin-right: 45px;
}

.browsers {
    margin-top: 23px;
}

.browsers__item {
    float: left;
    list-style: none;
    padding-left: 60px;
    background: url(../img/browsers-icons.png) no-repeat;
    min-height: 45px;
    margin-left: 100px;
}

.browsers__item:first-child {
    margin-left: 0px;
}

.browsers__item_ie {
    background-position: -268px 0;
}

.browsers__item_chrome {
    background-position: -544px 0;
}

.browsers__item_firefox {
    background-position: 0 0;
}

.browsers__item_safari {
    background-position: -843px 0;
}

.browsers__item__link {
    color: #fff;
    display: block;
    margin-top: 8px;
}
/**************** end old browsers panel ****************/

.win-popup_select {
    width: 204px;
}

.win-popup_select .cta {
    width: 144px;
}

.win-popup_select .cta:first-child {
    margin: 10px 0 16px;
}

.win-popup_select {
    right: 245px;
}

.win-popup_select:before {
    right: 106px;
}