$yellow-color: #ffdf00;
$blue-color: #528fcc;
$blue-color-border: #70a4d8;
$blue-border-style: 1px dotted $blue-color-border;
$animation-position-collection: (0, 67px, 134px, 201px, 268px, 335px, 402px, 469px, 536px, 570px);
$font-highway_sans_pro-light: 'pf_highway_sans_prolight', Arial, Verdana, sans-serif;
$font-highway_sans_pro-regular: 'pf_highway_sans_proregular', Arial, Verdana, sans-serif;
$font-highway_sans_pro-thin: 'pf_highway_sans_thin', Arial, Verdana, sans-serif;
$font-highway_sans_pro-extra_thin: 'pf_highway_sans_extra_thin', Arial, Verdana, sans-serif;
$font-pragmatica-book: 'pragmatica_book', Arial, Verdana, sans-serif;
$font-pragmatica-light: 'pragmatica_light', Arial, Verdana, sans-serif;
$font-pragmatica-extra_light: 'pragmatica_extra_light', Arial, Verdana, sans-serif;
$font-pragmatica-light_c: 'pragmatica_light_c', Arial, Verdana, sans-serif;

@-moz-document url-prefix() {
    .layout {
        padding-bottom: 335px;
    }

    .control-block--total .rouble {
        top: 1px !important;
    }
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.header {
    .header__left {
        min-width: 650px;

        .header__title {
            line-height: 105px;
            float: left;
            margin-left: 80px;
            font: 23px/105px $font-highway_sans_pro-light;
        }
    }

    .header__right {
        text-align: right;

        .callback_link {
            display: block;
            padding-top: 5px;
            font: 18px/19px $font-highway_sans_pro-light;
            color: #74a3c7;
            cursor: pointer;
            border-bottom: $blue-border-style;
            text-decoration: none;

            &:hover {
                text-decoration: none;
                border-bottom: none;
            }
        }

        .win-popup_callback {
            text-align: left;
            right: 0;
            top: 95px;
            background: #fff;
            background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
            background: -o-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
            background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
            background: linear-gradient(to top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
        }
    }
}

.block-content {
    //background: url(../img/lp-tinkov-1.png) 324px -101px no-repeat;
    //background: url(../img/lp-tinkov-dacha.png) 357px -92px no-repeat;
    //background: url(../img/lp-tinkov-turist.png) 357px -92px no-repeat;
    .relative-block {
        position: relative;
    }

    .block__background {
        img {
            width: 100%;
            //display: none;
        }
    }

    .block__items {
        &.text_white {
            color: #fff;
        }

        &.top {
            padding: 65px 0 100px;

            .icons-block {
                float: left;
                margin: 95px 75px 0 0;
            }

            .form_block {
                border: 1px solid rgba(255,255,255,.4);
                border-radius: 4px;
                float: left;
                height: 468px;
                margin-top: 94px;
                width: 320px;

                .form__title {
                    font: 24px $font-pragmatica-light_c;
                    padding: 38px 0 31px;
                    text-align: center;
                }

                input {
                    background: none;
                    border: 1px solid #fff;
                    border-radius: 6px;
                    color: #fff;
                    font: 24px $font-highway_sans_pro-extra_thin;
                    margin: 0 20px 25px;
                    padding: 14px;
                    width: 250px;

                    &::-webkit-input-placeholder {
                        color: #fff;
                    }

                    &::-moz-placeholder {
                        color: #fff;
                    }
                    /* Firefox 19+ */
                    &:-moz-placeholder {
                        color: #fff;
                    }
                    /* Firefox 18- */
                    &:-ms-input-placeholder {
                        color: #fff;
                    }
                }

                .yellow-btn {
                    border-radius: 30px;
                    font: 22px $font-pragmatica-light_c;
                    margin-left: 20px;
                    padding: 16px 58px;
                }
            }
        }

        &.bottom {
            padding: 55px 0 80px;

            .icons-block {
                margin: 85px auto 0;
                width: 633px;
            }
        }

        &.turizm {
            .icons-block {
                width: 650px;
            }
        }

        .main-title {
            font: 60px/45px $font-highway_sans_pro-extra_thin;
            margin: 0;
            text-align: center;
        }

        .text {
            font: 18px/24px $font-pragmatica-light;
            margin: 0 auto;
            padding-top: 42px;
            text-align: center;
            width: 700px;
        }
    }

    .icons-block__item {
        float: left;
        padding: 0;

        .description {
            font: 15px/18px $font-pragmatica-light;
            margin-top: 26px;
            text-align: center;

            .title {
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 10px;
            }
        }

        &--sofa {
            margin: 30px 50px 65px 0;
            width: 206px;
        }

        &--phone {
            margin-right: 51px;
            width: 150px;

            .description {
                margin-top: 23px;
            }
        }

        &--boots {
            width: 175px;
        }

        &--card {
            clear: left;
            margin: -9px 40px 0 45px;
            width: 280px;
        }

        &--smile {
            width: 225px;
        }

        &--fire {
            margin-right: 102px;
            width: 186px;
        }

        &--water {
            margin-right: 131px;
        }

        &--cloud {
            width: 100px;
        }

        &--breaks {
            margin: 27px 115px 0 78px;
        }

        &--mask {
            margin-top: 17px;
            width: 205px;
        }

        &--med {
            margin-right: 20px;
            width: 225px;
        }

        &--docs {
            margin-right: 44px;
            width: 186px;
        }

        &--visa {
            width: 175px;
        }

        &--shark {
            margin-top: 20px;
            width: 217px;
        }

        &--photo {
            margin: 35px 44px 0 55px;
        }

        &--plain {
            margin-top: 59px;
            width: 192px;
        }

        .icon {
            background: url(../img/insurance_icons.png) 0 0 no-repeat;

            &--sofa {
                background-position: 0 -131px;
                height: 72px;
                margin: -2px 0 0 68px;
                width: 72px;
            }

            &--phone {
                background-position: 0 -266px;
                height: 102px;
                margin-left: 38px;
                width: 72px;
            }

            &--boots {
                background-position: 0 -203px;
                height: 62px;
                margin: 36px 0 0 40px;
                width: 84px;
            }

            &--card {
                background-position: 0 0;
                height: 58px;
                margin: 11px 0 0 101px;
                width: 82px;
            }

            &--smile {
                background-position: 0 -58px;
                height: 72px;
                margin: -12px 0 0 73px;
                width: 72px;
            }

            &--fire {
                background-position: 0 -668px;
                height: 84px;
                margin: -1px 0 0 62px;
                width: 62px;
            }

            &--water {
                background-position: 0 -575px;
                height: 88px;
                width: 62px;
                margin-top: -3px;
            }

            &--cloud {
                background-position: 0 -509px;
                height: 64px;
                margin: 20px 0 0 -3px;
                width: 97px;
            }

            &--breaks {
                background-position: 0 -371px;
                height: 62px;
                margin-left: 5px;
                width: 121px;
            }

            &--mask {
                background-position: 0 -434px;
                height: 72px;
                margin-left: 54px;
                width: 75px;
            }

            &--med {
                background-position: 0 -807px;
                height: 80px;
                margin: 4px 0 0 55px;
                width: 91px;
            }

            &--docs {
                background-position: 0 -1050px;
                height: 86px;
                margin: 0 0 0 60px;
                width: 56px;
            }

            &--visa {
                background-position: 0 -1140px;
                height: 65px;
                margin: 21px 0 0 40px;
                width: 92px;
            }

            &--shark {
                background-position: 0 -892px;
                height: 82px;
                margin: 15px 0 -10px 58px;
                width: 92px;
            }

            &--photo {
                background-position: 0 -978px;
                height: 67px;
                margin: 0 0 10px 21px;
                width: 84px;
            }

            &--plain {
                background-position: 0 -760px;
                height: 42px;
                margin: 0 0 33px 40px;
                width: 118px;
            }
        }
    }

    .white-block {
        background: #fff;
        clear: both;
        color: #404040;
        position: relative;
        text-align: center;
        z-index: 2;

        .title {
            font: 36px $font-highway_sans_pro-extra_thin;
        }

        .content {
            margin: 0 auto;
            width: 1070px;
        }

        .main-title {
            color: #404040;
            font: 60px $font-highway_sans_pro-extra_thin;
            margin: 0;
        }

        &.top {
            .content {
                padding: 68px 0 110px;
                width: 870px;


                .yellow-btn {
                    border-radius: 30px;
                    font: 22px $font-pragmatica-light_c;
                    display: block;
                    margin: 62px 0 0 175px;
                    padding: 15px 0;
                    width: 460px;
                }

                .control-block {
                    clear: both;

                    .title {
                        margin-bottom: 25px;
                    }

                    &--input {
                        margin-top: 70px;

                        .place {
                            border: 1px solid #BBBBBB;
                            border-radius: 6px;
                            color: #000000;
                            display: inline-block;
                            font: 16px/32px $font-pragmatica-light;
                            height: 55px;
                            outline: none;
                            padding: 0 44px 0 19px;
                            vertical-align: middle;
                            width: 574px;
                        }

                        .input-wrapper {
                            position: relative;
                            margin: 0 auto;
                            width: 640px;

                            &:after {
                                background: url("../img/bigger-icons.png") 0 0 no-repeat;
                                content: '';
                                display: block;
                                height: 55px;
                                position: absolute;
                                right: 0;
                                top: 15px;
                                width: 40px;
                            }
                        }

                        .place-block {
                            margin: 10px auto 0;
                            text-align: left;
                            width: 640px;

                            a {
                                border-bottom: 1px dotted #8f8f8f;
                                color: #8f8f8f;
                                cursor: pointer;
                                font: 23px $font-highway_sans_pro-extra_thin;
                                text-decoration: none;
                            }
                        }
                    }

                    &--choice {
                        margin-top: 50px;

                        .choice {
                            border-bottom: $blue-border-style;
                            color: #70a4d8;
                            cursor: pointer;
                            font-size: 21px;
                            text-decoration: none;
                        }
                    }

                    &--slider {
                        margin-top: 52px;

                        .slider-container {
                            width: 650px;
                            position: relative;
                            margin: 0 auto 66px;
                            padding-top: 70px;

                            .slider__price {
                                //color: #383838;
                                color: #979797;
                                display: inline-block;
                                font: 17px $font-highway_sans_pro-light;
                                margin-top: 10px;
                                position: absolute;
                                top: 80px;

                                .rouble {
                                    color: #979797;
                                }
                            }

                            .slider__price_min {
                                left: 0;
                            }

                            .slider__price_max {
                                right: 0;
                            }

                            .slider__text {
                                margin-top: 0;
                                max-width: 700px;
                                position: relative;
                                top: 0;
                            }

                            .slider {
                                background: #b5b6b5;
                                border: none;
                                border-radius: 4px;
                                box-shadow: none;
                                color: #5c5c5c;
                                cursor: pointer;
                                height: 4px;
                                position: relative;

                                .slider__range {
                                    background: #ffdd2e;
                                    border: none;
                                    border-radius: 4px;
                                    position: absolute;
                                    height: 4px;
                                    left: 0;
                                    top: 0;
                                    width: 0;
                                    z-index: 1;
                                }

                                .ui-slider-handle {
                                    background: #fff;
                                    border: solid 1px #ededed;
                                    //background: #ffdd2e;
                                    //border: solid 1px #ffdd2e;
                                    border-radius: 24px;
                                    box-shadow: none;
                                    cursor: pointer;
                                    display: block;
                                    height: 24px;
                                    outline: none;
                                    position: absolute;
                                    top: -12px;
                                    width: 24px;
                                    z-index: 5;
                                }

                                .ui-slider-range {
                                    background: #ffdd2e;
                                    border-radius: 4px;
                                    height: 100%;
                                }

                                .slider__info {
                                    background: #fff;
                                    border: solid 1px #bbbbbb;
                                    border-radius: 5px;
                                    bottom: 35px;
                                    color: #000;
                                    cursor: default;
                                    font: normal 16px $font-pragmatica-light;
                                    left: -175%;
                                    opacity: 1;
                                    padding: 10px;
                                    position: absolute;
                                    white-space: nowrap;
                                    z-index: 100;

                                    &::before, &::after {
                                        content: '';
                                        bottom: -11px;
                                        border: 5px solid transparent;
                                        border-top: 5px solid #bbbbbb;
                                        left: 50%;
                                        margin-left: -5px;
                                        position: absolute;
                                    }

                                    &::after {
                                        bottom: -10px;
                                        border-top: 5px solid #fff;
                                    }

                                    .slider_input {
                                        border: none;
                                        box-shadow: none;
                                        font-family: $font-pragmatica-light;
                                        font-weight: normal;
                                        margin: 0;
                                        outline: 0;
                                        padding: 0;
                                        text-align: center;
                                        width: 80px;


                                        &:focus {
                                            border: none;
                                        }
                                    }
                                }
                            }
                        }

                        .price-block {
                            margin: 0 auto;
                            overflow: hidden;
                            width: 680px;

                            &__item {
                                color: #737373;
                                font: 20px $font-highway_sans_pro-thin;
                                float: left;
                                margin-right: 37px;
                                width: 150px;


                                p {
                                    font: 20px $font-highway_sans_pro-light;
                                    margin: 10px 0 0;
                                }

                                &:last-child {
                                    margin-right: 0;
                                    width: 115px;
                                }
                            }
                        }
                    }

                    &--radio {
                        margin-top: 64px;
                        overflow: hidden;
                        padding: 0 117px;

                        .radio-block {
                            float: left;
                            margin: 10px 10% 0 0;
                            text-align: left;
                            width: 40%;

                            p {
                                margin: 0;
                            }
                        }
                    }

                    &--total {
                        color: #000;
                        font: 29px $font-highway_sans_pro-thin;
                        margin-top: 50px;
                        padding: 0 115px;
                        text-align: left;

                        .right {
                            float: right;
                        }

                        & span {
                            float: left;
                        }

                        .total-price-block {
                            width: 215px;
                            float: left;

                            .rouble {
                                top: 5px;
                            }
                        }



                        select {
                            font: 27px $font-highway_sans_pro-thin;
                            height: auto;
                            width: 140px;
                            float: left;
                            border-radius: 4px;
                            padding: 5px;
                            margin-top: -5px;
                        }

                        .ui-selectmenu-button {
                            background: none;
                            margin: -5px 0 0 40px;
                            outline: none;
                            position: relative;

                            &.ui-state-hover, &.ui-state-focus {
                                border: 1px solid #ccc;
                            }
                        }

                        .ui-selectmenu-text {
                            color: #000;
                            background: none;
                            border: none;
                            font: 27px $font-highway_sans_pro-thin;
                            padding: 8px 12px;
                            position: relative;
                            text-align: left;
                            width: 140px;
                            //border-radius: 4px;
                            //border-color: #74a3c7;
                            //color: #74a3c7;
                        }

                        .ui-icon {
                            background: none;
                            border-top: 8px solid #000000;
                            border-right: 4px solid transparent;
                            border-left: 4px solid transparent;
                            height: 0;
                            margin: -1px 0 0 0;
                            width: 0;
                        }

                        .yellow-btn {
                            clear: both;
                            margin: 50px auto -20px;
                            width: 283px;
                        }
                    }
                }
            }
        }

        &.bottom {
            padding-top: 60px;

            .two-column {
                color: #000;
                float: left;
                font: 18px/24px $font-pragmatica-light;
                margin: 60px 0 95px;
                width: 47%;



                &--last {
                    margin-left: 3%;
                }

                .title {
                    color: #575656;
                    font: 51px $font-highway_sans_pro-light;
                    margin: 0 0 28px 0;
                }
            }
        }

        &.grey {
            background: #f6f6f6;
            //background: none;
            padding-top: 65px;

            .main-title {
                color: #404040;
                font: 60px $font-highway_sans_pro-extra_thin;
                margin: 0;
            }

            .two-column {
                color: #000;
                float: left;
                font: 18px/22px $font-pragmatica-light;
                margin: 67px 0 95px;
                text-align: left;
                width: 45%;

                &--last {
                    margin-left: 5%;
                }

                .title {
                    color: #575656;
                    font: 21px/24px $font-highway_sans_pro-regular;
                    margin: 0 0 0 5px;
                    &--inner{
                        margin-top:25px;
                    }
                }

                .paragraph {
                    margin-top: 14px;
                    padding-left: 5px;
                }

                .circle-list {
                    list-style: disc;
                    margin-top: 10px;
                    padding-left: 20px;
                }

                .numeric-list {
                    list-style: decimal;
                    margin-top: 10px;
                    padding-left: 25px;
                }
            }
        }
    }
}
// *********************************** //
// jquery datepicker
// *********************************** //
.ui-datepicker-title {
    select.ui-datepicker-month,
    select.ui-datepicker-year {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        width: 31%;
        margin: 0 10px;
    }
}

.ui-state-active {
    background: #5ba1e7;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    padding-top: 7px;
}
// *********************************** //
// jquery select
// *********************************** //
.ui-selectmenu-menu {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ui-selectmenu-menu .ui-menu {
    overflow: auto;
    overflow-x: hidden;
    padding-bottom: 1px;
}

.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    padding: 2px 0.4em;
    margin: 0.5em 0 0 0;
    height: auto;
    border: 0;
}

.ui-selectmenu-open {
    display: block;
}

.ui-selectmenu-button {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    overflow: hidden;
    /* position:relative; */
    /* text-decoration:none; */
    /* cursor:pointer */
}

.ui-selectmenu-button span.ui-icon {
    right: 0.5em;
    left: auto;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}

.ui-selectmenu-button span.ui-selectmenu-text {
    text-align: left;
    padding: 0.4em 2.1em 0.4em 1em;
    display: block;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ui-selectmenu-open {
    font: normal 27px $font-highway_sans_pro-thin;
    margin-top: 0;

    .ui-menu-item {
        color: #000;
        font: normal 27px $font-highway_sans_pro-thin;
        padding: 5px 10px;
        text-decoration: none;

        &:hover, &.ui-state-focus {
            background: #74a3c7;
            border: none;
            color: #fff;
            font-weight: normal;
        }
    }
}
// *********************************** //
// ui-autocomplete
// *********************************** //
.ui-menu {
    margin-top: 5px;
    font: 18px/20px $font-pragmatica-light;

    .ui-menu-item {
        background: #fff;
        color: #404040;
        font-weight: normal;
        height: 30px;
        padding: 10px;
        list-style-image: none;
        border: none;

        &:hover {
            background: $blue-color;
            color: #404040;
            font-weight: normal;
            border: none;
        }
    }
}
// *********************************** //
// ui-spinner
// *********************************** //
.input-wrap_spinner-outside {
    .ui-spinner {
        a.ui-spinner-button.ui-spinner-down:before {
            content: '';
        }
    }
}
// *********************************** //
// help-icon
// *********************************** //
.help-icon {
    background: url(../img/help-icons.png) 0 0 no-repeat;
    height: 20px;
    margin: 10px 0 0 10px;
    width: 20px;

    &._active, &:hover {
        background-position: 0 -20px;
    }
}

.popup {
    height: 300px;
    left: 40%;
    text-align: center;
    top: 300px;
    width: 450px;

    .submission__text {
        margin: 35px auto;
        width: 200px;
    }
}
// *********************************** //
//  checkbox and radio
// *********************************** //
.checkbox-wrap {
    height: 20px;
    margin-bottom: 22px;

    input[type="checkbox"] {
        opacity: 0;
        margin: 0;
    }

    label {
        display: inline-block;
        //margin-left: 10px;
        vertical-align: middle;
        font-size: 15px;
        margin-bottom: 0;
    }

    .checkbox {
        background: url("../img/form-custom-elements.png") no-repeat 0 0 rgba(0, 0, 0, 0);
        border: none;
        cursor: pointer;
        padding-left: 22px;
        //display: inline;
    }

    .checkbox_big {
        width: 22px;
        height: 22px;
        padding-top: 1px;
        margin-right: 10px;
        background-position: 0 -560px;
    }

    &._checked {
        .checkbox {
            background-position: 0 -595px;
        }
    }
}

.checkbox-wrap_default {
    .checkbox {
        background-position: 0 -106px;
        padding-left: 5px;
        margin-top: 2px;
    }

    &._checked {
        .checkbox {
            background-position: 0 0;
        }
    }
}

.radio-wrap {
    height: 20px;
    margin-bottom: 14px;
    display: block;

    input[type="radio"] {
        opacity: 0;
    }

    label {
        display: inline-block;
        // margin-left: 5px;
        vertical-align: middle;
        font-size: 15px;
        margin-bottom: 0;
    }

    .radio {
        position: relative;
        display: inline-block;
        padding: 0;
        height: 18px;
        min-height: 18px;
        width: 18px;
        border-radius: 18px;
        border: solid 1px #bababa;
        background: #fff;
        cursor: pointer;
        top: 4px;
        margin-right: 5px;
        vertical-align: baseline;
        overflow: initial;
    }

    .checked_radio {
        position: absolute;
        top: 2px;
        left: 2px;
        height: 14px;
        width: 14px;
        padding: 0;
        border-radius: 14px;
        background: #fff;
    }

    &._checked {
        .checked_radio {
            background: #70a4d8;
        }
    }
}
// *********************************** //
// Информация о страхователе
// *********************************** //
.insurer-content {
    width: 710px;
    margin: 0 auto 50px;
}

.submission-header {
    font-size: 42px;
    font-family: $font-highway_sans_pro-extra_thin;
    color: #404040;
    margin: 55px 0 50px;
}

.policy-cost-wrap {
    border: 1px solid #bbb;
    border-radius: 6px;
    background: #f9f9f9;
    padding: 20px;

    .policy-cost__title {
        width: 420px;
        font-family: $font-highway_sans_pro-light;
    }

    .submission__sum {
        margin: 0;
        font-family: $font-highway_sans_pro-regular;
        font-size: 28px;
    }

    .period {
        color: #8a8989;
        font-family: $font-pragmatica-book;
        font-size: 16px;
        padding-left: 10px;
        vertical-align: text-bottom;
    }

    .bill-list__text {
        margin: 20px 0 0;
        display: inline-block;
        cursor:pointer;
    }

    .rouble {
        font-size: 26px;
    }
}

.form_insurer {
    clear: both;
    margin-top: 55px;

    .fieldset__title {
        font: 26px $font-highway_sans_pro-light;
        color: #000;
    }

    .after-title {
        margin: 7px 0 15px;
    }

    .fieldset_residence {
        padding-top: 5px;
    }

    .fieldset_insured {
        padding-top: 25px;
    }

    .fieldset__title_sex,
    .fieldset__title_registration,
    .fieldset__title_residence {
        font: 16px $font-pragmatica-book;
        display: block;
        margin-bottom: 10px;
    }

    .fieldset__title_insured-person {
        font: 18px $font-pragmatica-book;
    }

    .fieldset_insurer_contact,
    .fieldset_insured-persons,
    .fieldset_property {
        background: #f9f9f9;
        border-radius: 6px;
        padding: 20px;
    }
    .fieldset_property{
        margin-bottom:20px;
    }
    .input {
        border: 1px solid #BBBBBB;
        color: #000000;
        display: inline-block;
        font-size: 16px;
        height: 48px;
        padding: 0 19px;
        vertical-align: middle;
        width: 620px;
        border-radius: 6px;
        line-height: 32px;
        font-family: $font-pragmatica-light;
        outline: none;
    }

    .input_date {
        width: 280px;
        background: #fff url(../img/form-custom-elements.png) no-repeat 94% -720px;
        cursor: pointer;
        position: relative;
    }

    .input_medium {
        width: 280px;

        &.input_email {
            width: 266px;
        }
    }

    .input-wrap_inline {

        &.input-wrap_phone {
            margin-right: 30px;
        }

        &.input-wrap_passport-number {
            margin-right: 20px;
        }

        &.input-wrap_email,
        &.input-wrap_passport-recieved-date {
            margin-right: 0;
        }

        .label-wrap_email {
            width: auto;
            margin-right: 4px;
        }

        .form__error-wrap {
            display: block;
        }
    }

    .input-wrap_date {
        .form__error-wrap {
            top: 54px;
        }
    }

    .label-wrap {
        width: 103px;
        margin-right: 20px;

        &.label-wrap_policy-date {
            width: 175px;
        }
    }

    .radios-wrap {
        display: inline-block;

        .radio-wrap {
            display: inline-block;
            margin-bottom: 34px;
        }
    }

    .textarea-wrap {
        .textarea-wrapper {
            padding: 0;
            border: none;
            height: 100px;
            width: 660px;

            textarea {
                border-radius: 7px;
                padding: 9px 0 0 9px;
                border: 1px solid #BBBBBB;
                width: 650px;
            }

            .form__error-wrap {
                margin-top: 10px;
            }
        }
    }

    .autocomplete-wrapper {
        padding: 0;
        width: 660px;
        margin-bottom: 10px;

        input {
            border: none;
            width: 596px;
            padding-right: 44px;
        }
    }

    .input-wrap_registration-building, .input-wrap_residence-building {

        .autocomplete-wrapper {
            width: 104px;

            input {
                width: 40px;
                padding-right: 44px;
            }
        }
    }

    .input-wrap_registration-flat, .input-wrap_residence-flat,.input-wrap_property-flat {
        input {
            width: 35px;
            margin-bottom: 10px;
            padding: 0 10px;
        }
    }

    .label-wrap_registration-flat,
    .label-wrap_residence-flat,
    .label-wrap_property-flat
     {
        width: auto;
    }

    .label-wrap_registration-building,
    .label-wrap_residence-building,
    .label-wrap_property-building {
        width: 35px;
    }

    .input_prop-year{
        width:30px;
    }

    .label_registration-building,
    .label_registration-flat,
    .label_residence-building,
    .label_residence-flat,
    .label_property-building,
    .label_property-flat,
    .label_property-year,
    .checkbox-wrap label,
    .radio-wrap label {
        font: 16px $font-pragmatica-book;
        color: #000;
        width: auto;
        margin-right: 0;
    }
        .label-wrap_property-year{
        width:250px;
    }
    .fieldset_agreement {
        padding: 20px;
        background: #f9f9f9;
        border-radius: 0 0 6px 6px;
        margin-top: -30px;

        a {
            &:hover, &:focus {
                color: #000;
            }
        }

        .label_agreement, .label_monthly {
            max-width: 650px;
        }

        .checkbox-wrap {
            height: auto;
            margin-left: 0;
        }

        .form__error-wrap {
            position: relative;
            bottom: auto;
            margin: -20px 0 20px;
            left: 0;
        }
    }

    ._invalid {
        input, textarea, .autocomplete-wrapper {
            background-color: #FFF5F5;
            border-color: #DD2E17;
            font-size: 16px;
        }

        .form__error-wrap {
            left: 0;
            bottom: auto;
            margin-top: 5px;
        }
    }

    .yellow-btn {
        clear: both;
        margin-top: 30px;
        margin-left: 0;
        width: 250px;
        padding: 12px 0;
    }
}

// *********************************** //
// Калькулятор туристов
// *********************************** //
.calculator_travel{
    .radio-wrap{
        display:inline-block;
    }
}