/************************* Social ***************************/

.social {
    list-style: none;
    display: block;

}

.social__item {
    display: inline-block;
    margin-left: 13px;
}

.footer .social__item:first-child,
.social__item:first-child {
    margin-left: 0;
}

.social__link {
    display: block;
    width: 41px;
    height: 41px;
    border: solid 1px #fff;
    border-radius: 41px;
    position: relative;
}

.social__link:hover {
    background: rgba(225, 225, 225, 0.6);
}

.account-socials__img:before,
.filter-switcher_filter-reviews .filter-switcher__header__item_image:before,
.social__link:before {
    position: absolute;
    content: '';
    background: url(../img/social-icons.png) 0 0 no-repeat;
    width: 24px;
    height: 21px;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -12px;
}

.social__link_facebook:before {
    background-position: 0 0;
}

.social__link_twitter:before {
    background-position: -26px 0;
}

.social__link_vkontakte:before {
    background-position: -50px 0;
}

.social__link_facebook:hover:before {
    background-position: 0 -21px;
}

.social__link_twitter:hover:before {
    background-position: -26px -21px;
}

.social__link_vkontakte:hover:before {
    background-position: -50px -21px;
}

.block .social {
    position: absolute;
    bottom: -4px;
    right: 0;
}
/************************** Black ***************************/
.social_black {
    margin-top: 16px;
}

.social_black .social__link {
    border-color: #000;
    border-width: 1px;
}

.social_black .social__link:hover {
    border-color: #282828;
    background-color: #282828;
}

.social_black .social__link_facebook:before {
    background-position: 0 -21px;
}

.social_black .social__link_twitter:before {
    background-position: -26px -21px;
}

.social_black .social__link_vkontakte:before {
    background-position: -50px -21px;
}

.social_black .social__link_facebook:hover:before {
    background-position: 0 0;
}

.social_black .social__link_twitter:hover:before {
    background-position: -26px 0;
}

.social_black .social__link_vkontakte:hover:before {
    background-position: -50px 0;
}
/************************** Black ***************************/

/************************** Colorful ************************/
.social_colorful .social__link {
    border-color: #000;
    border-width: 1px;
}
.social_colorful .social__link_facebook:hover {
    background-color: #496da4;
    border-color: #496da4;
}
.social_colorful .social__link_facebook:before {
    background-position: 0px -74px;
}
.social_colorful .social__link_facebook:hover:before {
    background-position: 0px -48px;
}
.social_colorful .social__link_twitter:hover {
    background-color: #00aeef;
    border-color: #00aeef;
}
.social_colorful .social__link_twitter:before {
    background-position: -24px -74px;
}
.social_colorful .social__link_twitter:hover:before {
    background-position: -24px -47px;
}
.social_colorful .social__link_vkontakte:hover {
    background-color: #3782bc;
    border-color: #3782bc;
}
.social_colorful .social__link_vkontakte:before {
    background-position: -50px -73px;
}
.social_colorful .social__link_vkontakte:hover:before {
    background-position: -50px -46px;
}
.social_colorful .social__link_odnoklassniki:hover {
    background-color: #ff7800;
    border-color: #ff7800;
}
.social_colorful .social__link_odnoklassniki:before {
    background-position: -74px -73px;
}
.social_colorful .social__link_odnoklassniki:hover:before {
    background-position: -74px -46px;
}
.social_colorful .social__link_youtube:hover {
    background-color: #cf2020;
    border-color: #cf2020;
}
.social_colorful .social__link_youtube:before {
    background-position: -103px -73px;
}
.social_colorful .social__link_youtube:hover:before {
    background-position: -103px -46px;
}
.social_colorful .social__link_googleplus:hover {
    background-color: #00a651;
    border-color: #00a651;
}
.social_colorful .social__link_googleplus:before {
    background-position: -135px -72px;
}
.social_colorful .social__link_googleplus:hover:before {
    background-position: -135px -45px;
}
.social_colorful .social__link_instagram:hover {
    background-color: #603913;
    border-color: #603913;
}
.social_colorful .social__link_instagram:before {
    background-position: -168px -72px;
}
.social_colorful .social__link_instagram:hover:before {
    background-position: -168px -45px;
}
.social_colorful .social__link_foursquare:hover {
    background-color: #62bae3;
    border-color: #62bae3;
}
.social_colorful .social__link_foursquare:before {
    background-position: -197px -72px;
}
.social_colorful .social__link_foursquare:hover:before {
    background-position: -197px -45px;
}
.social_colorful .social__link_moymir:hover {
    background-color: #00498a;
    border-color: #00498a;
}
.social_colorful .social__link_moymir:before {
    background-position: -236px -107px;
}
.social_colorful .social__link_moymir:hover:before {
    background-position: -236px -135px;
}
/************************** Colorful ************************/

/************************** Blue ****************************/
.social_blue .social__link:hover {
    background-color: #74a3c7;
}
.filter-switcher_filter-reviews .filter-switcher__header__item_facebook:before,
.social_blue .social__link_facebook:before {
    background-position: 0px -105px;
}
.filter-switcher_filter-reviews ._active.filter-switcher__header__item_facebook:before,
.social_blue .social__link_facebook:hover:before {
    background-position: 0px -47px;
}
.filter-switcher_filter-reviews .filter-switcher__header__item_twitter:before,
.social_blue .social__link_twitter:before {
    background-position: -23px -105px;
}
.filter-switcher_filter-reviews ._active.filter-switcher__header__item_twitter:before,
.social_blue .social__link_twitter:hover:before {
    background-position: -23px -46px;
}
.filter-switcher_filter-reviews .filter-switcher__header__item_vkontakte:before,
.social_blue .social__link_vkontakte:before {
    background-position: -50px -106px;
}
.filter-switcher_filter-reviews ._active.filter-switcher__header__item_vkontakte:before,
.social_blue .social__link_vkontakte:hover:before {
    background-position: -49px -46px;
}
.filter-switcher_filter-reviews .filter-switcher__header__item_odnoklassniki:before,
.social_blue .social__link_odnoklassniki:before {
    background-position: -73px -105px;
}
.filter-switcher_filter-reviews ._active.filter-switcher__header__item_odnoklassniki:before,
.social_blue .social__link_odnoklassniki:hover:before {
    background-position: -73px -46px;
}
.filter-switcher_filter-reviews .filter-switcher__header__item_youtube:before,
.social_blue .social__link_youtube:before {
    background-position: -102px -105px;
}
.filter-switcher_filter-reviews ._active.filter-switcher__header__item_youtube:before,
.social_blue .social__link_youtube:hover:before {
    background-position: -102px -46px;
}
.filter-switcher_filter-reviews .filter-switcher__header__item_googleplus:before,
.social_blue .social__link_googleplus:before {
    background-position: -135px -105px;
}
.filter-switcher_filter-reviews ._active.filter-switcher__header__item_googleplus:before,
.social_blue .social__link_googleplus:hover:before {
    background-position: -135px -45px;
}
.filter-switcher_filter-reviews .filter-switcher__header__item_instagram:before,
.social_blue .social__link_instagram:before {
    background-position: -167px -105px;
}
.filter-switcher_filter-reviews ._active.filter-switcher__header__item_instagram:before,
.social_blue .social__link_instagram:hover:before {
    background-position: -167px -46px;
}
.filter-switcher_filter-reviews .filter-switcher__header__item_foursquare:before,
.social_blue .social__link_foursquare:before {
    background-position: -197px -105px;
}
.filter-switcher_filter-reviews ._active.filter-switcher__header__item_foursquare:before,
.social_blue .social__link_foursquare:hover:before {
    background-position: -197px -45px;
}
/************************** Blue ****************************/

/************************* Social Share News ****************/
.social.social_news {
    display: inline-block;
    vertical-align: top;
}

.social_blue .social__link_news {
    border: 1px solid #79a6c9;
    height: 34px;
    width: 34px;
}

.social-share_news {
    display: inline-block;
    vertical-align: top;
    margin: 10px 20px 0 0;
    color: #423e3e;
    font-size: 18px;
}
/************************* Social Share News ****************/

/************************* Social Review ********************/
.social_reviews {
    display: inline-block;
}

.social__item_review {
    margin-left: 10px;
}

.social_reviews .radio-wrap_button {
    margin-right: 0;
}

.reviews-links .radio-wrap_button .label_review-link,
.social_reviews .radio-wrap_button .label.social__link {
    border-color: #74a3c7;
    border-width: 1px;
    margin: 0;
    padding: 0;
    min-width: 34px;
    height: 34px;
}
/************************* Social Review ********************/

/************************* Social Account *******************/
.account-socials__img {
    position: relative;
}
.account-socials__img_facebook:before {
    background-position: 0px -74px;
}
.account-socials__img_twitter:before {
    background-position: -24px -74px;
}
.account-socials__img_vkontakte:before {
    background-position: -50px -73px;
}
.account-socials__img_odnoklassniki:before {
    background-position: -74px -73px;
}
.account-socials__img_youtube:before {
    background-position: -103px -73px;
}
.account-socials__img_googleplus:before {
    background-position: -135px -72px;
}
.account-socials__img_instagram:before {
    background-position: -168px -72px;
}
.account-socials__img_foursquare:before {
    background-position: -197px -72px;
}
/************************* Social Account *******************/

/************************* Social Share FinishBuy ***********/
.social-wrap_finish-buy-ok {
    /*margin-top: 45px;*/
    margin-top: 15px;
}
.finish-message .message-social {
    margin-top: 70px;
}
/************************* Social Share FinishBuy ***********/

/************************* Social Footer ********************/
.footer .social__link {
    width: 36px;
    height: 36px;
}

.footer .social__item {
    /*margin-left: 10px;*/
    margin-left: 7px; /*временный стиль*/
}
/************************* Social Footer ********************/

/************************* Social ***************************/