.calculator_flat.calculator_travel {
    font-size: 15px;
}

.calculator_flat.calculator_travel .label {
    font-size: 15px;
    color: #404040;
}

.calculator-border {
    width: 920px;
    background-color: #e4e5e5;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    top: 0;
    height: 100%;
}

.calculator-layout {

}

.calculator_flat {
    margin: 0 auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;

    position: relative;
    z-index: 2;
}

.calculator__inner {
    width: 770px;
    background: #ffffff;
    margin: 0 auto;
    border-radius: 7px 7px 0 0;
    padding: 60px 64px 100px 84px;
    position: relative;
}

.calculator__title, .calculator__subtitle {
    margin: 0;
    display: block;
    text-align: center;
    color: #ffffff;
    font-weight: normal;
}

.calculator__title {
    font-size: 60px;
    line-height: 62px;
    font-family: 'pf_highway_sans_extra_thin';
}

.calculator__subtitle {
    font-size: 26px;
    line-height: 28px;
    font-family: 'pf_highway_sans_thin';
    margin-top: 22px;
}


.calculator_flat.calculator_travel .fieldset__title, .calculator_flat.calculator_travel .fieldset_range .label, .calculator_flat.calculator_travel:not([data-mode="checkout"]) .input-wrap_date .label {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 14px;
    font-family: 'pf_highway_sans_thin',Arial,Verdana,sans-serif;
    color: #404040;
}

.calculator_flat.calculator_travel .input-wrap_date .label-wrap {
    display: block;
    width: auto;
    margin: 0;
}

.calculator_flat.calculator_travel .autocomplete-helper {
    font-size: 15px;
    line-height: 17px;
    color: #939597;
}

.calculator_flat.calculator_travel .autocomplete-helper .blue-link_dashed {
    font-size: 15px;
    line-height: 17px;
    border-bottom: dotted 1px;
}

.calculator_flat.calculator_travel .input-wrap_autocomplete.input-wrap[class*="building"] .autocomplete-wrapper,
.calculator_flat.calculator_travel .autocomplete-wrapper {
    width: 688px;
}

.calculator_flat.calculator_travel .fieldset {
    margin-bottom: 50px;
}

.calculator_flat.calculator_travel .fieldset_type, .calculator_flat.calculator_travel .fieldset_cover {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 21px;
}

.calculator_flat.calculator_travel .fieldset_cover {
    margin-left: 24px;
}

.calculator_flat.calculator_travel .fieldset_type, .calculator_flat.calculator_travel .fieldset_cover,
.calculator_flat.calculator_travel .fieldset_range .input-wrap, .calculator_flat.calculator_travel .input-wrap_date {
    width: 381px;
    margin: 0 0 21px 0;
    position: relative;
}

.calculator_flat.calculator_travel .fieldset_range .input-wrap, .calculator_flat.calculator_travel .input-wrap_date {
    margin: 0;
}

.calculator_flat.calculator_travel .fieldset_range .input, .calculator_flat.calculator_travel .input-wrap_date .input, .calculator_auto .input_date {
    width: 321px;
    background-position: 96% -772px;
    font-size: 15px;
}

.calculator_auto .input_date {
    background-position: 96% -717px;
}

.calculator_flat.calculator_travel[data-mode="checkout"] .input-wrap_date .input {
    width: 152px;
}

.calculator_flat.calculator_travel .fieldset_range .input-wrap:last-child {
    margin-left: 4px;
}

.calculator_flat.calculator_newvzr .fieldset_range .input-wrap:last-child {
    margin-left: 0;
}
.calculator_flat.calculator_newvzr .fieldset_range .input {
    padding-top: 2px;
    height: 46px;
}

.calculator_flat.calculator_travel .fieldset_range .label, .calculator_flat.calculator_travel .fieldset_range .input {
    display: block;
}

.calculator_flat.calculator_travel .fieldset_finland {
    margin-top: -36px;
}

.calculator_flat.calculator_travel .txt {
    font-size: 15px;
    line-height: 17px;
    margin-top: 0;
    margin-bottom: 8px;
    color: #77808b;
}

.calculator_flat.calculator_travel .element-val-wrap_days, .calculator_flat.calculator_travel .element-val-wrap_days .element-val_days {
    font-size: 15px;
    line-height: 17px;
    color: #77808b;
    font-family: 'pragmatica_light';
    text-align: center;
}

.calculator_flat.calculator_travel .element-val-wrap_days {
    margin-top: -36px;
}

.calculator_flat.calculator_travel .element-val-wrap_days .element-val_days {
    font-family: 'pragmatica_book';
    margin-left: 6px;
    text-align: left;
    font-weight: bold;
}

.calculator_flat.calculator_travel .label_inline {
    display: block;
    color: #404040;
    margin-bottom: 16px;
}

.calculator_flat.calculator_travel .label_inline span {
    color: #808080;
}

.calculator_flat.calculator_travel .label + .ui-spinner {
    margin: 0;
}

.calculator_travel.calculator_flat .input-wrap_days.input-wrap_slider .label {
    width: 220px;
    display: inline-block;
}

.input-wrap_spinner-outside, .input-wrap_spinner-outside.input-wrap_inline {
    margin: 0;
    width: 185px;
    margin-left: 107px;
}

.calculator_flat.calculator_travel .fieldset__title + .input-wrap_spinner-outside {
    margin-left: 0;
}
.input-wrap_spinner-outside .ui-spinner-div-val,
.input-wrap_spinner-outside .input_spinner {
    padding: 0 8px;
    font-size: 15px;
    text-align: center;
    width: 34px;
    height: 50px;
}

.input-wrap_spinner-outside .ui-spinner {
    overflow: visible;
    padding-left: 60px;
}

.input-wrap_spinner-outside .ui-spinner-div-val {
    margin-left: 60px;
    /*border-radius: 6px;*/
    line-height: 50px;
    border: none;
    font-size: 23px;
}

.input-wrap_spinner-outside .ui-spinner-div {
    top: 32px;
    left: 0;
}

.input-wrap_spinner-outside .input_spinner:focus {
    background-color: #e6e7e8;
}

.input-wrap_spinner-outside .ui-widget-content {
    border-radius: 0;
}

.input-wrap_spinner-outside .ui-spinner.ui-spinner-div a.ui-spinner-button,
.input-wrap_spinner-outside .ui-spinner a.ui-spinner-button {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: solid 1px #94bae2;
    color: #94bae2;
    right: -60px;
    top: 0;
    background: #fff;
}

.input-wrap_spinner-outside .ui-spinner.ui-spinner-div a.ui-spinner-button {
    right: -82px;
}

.input-wrap_spinner-outside .ui-spinner.ui-spinner-div a.ui-spinner-down {
    right: auto;
    left: 0px;
}

.input-wrap_spinner-outside .ui-spinner a.ui-spinner-button:before {
    color: #94bae2;
    font-size: 40px;
    width: 40px;
    height: 40px;
    margin: -8px 0 0 -20px;
    font-family: 'pf_highway_sans_extra_thin';
}

.input-wrap_spinner-outside .ui-spinner a.ui-spinner-button:before {
    background: url(../img/plus-minus-flat.png) 0 0 no-repeat;
    content: '';
}

.input-wrap_spinner-outside .ui-spinner a.ui-spinner-button.ui-spinner-up:before {
    background-position: -133px -16px;
}

.input-wrap_spinner-outside .ui-spinner a.ui-spinner-button.ui-spinner-down:before {
    background-position: -5px -23px;
    content: '';
}

.radio-wrap_switch/*, .calculator_flat.calculator_travel[data-mode="checkout"] .radio-wrap*/ {
    margin: 0;
    position: relative;
}

.radio-wrap_switch .radio/*, .calculator_flat.calculator_travel[data-mode="checkout"] .radio*/ {
    width: 180px;
    height: 48px;
    background: #fff;
    border: solid 1px #bbbbbb;
    margin: 0;
    border-radius: 0px;
}

.radio-wrap_switch ~ .radio-wrap_switch:not(:last-child):not(:first-child) .radio {
    border-left: none;
}

.radio-wrap_switch .label/*, .calculator_flat[data-mode="checkout"] .radio-wrap .label*/ {
    position: absolute;
    left: 1px;
    top: 1px;
    display: block;
    width: 180px;
    height: 34px;
    margin: 0;
    font-size: 15px;
    color: #939597;
    text-align: center;
    padding-top: 14px;
}

.radio-wrap_switch .radio._checked + .label/*, .calculator_flat.calculator_travel[data-mode="checkout"] .radio-wrap .radio._checked + .label*/ {
    color: #000;
}

.radio-wrap_switch .radio._checked/*, .calculator_flat.calculator_travel[data-mode="checkout"] .radio._checked*/ {
    background: #e6e7e8;
}

.radio-wrap_switch .radio:before/*, .calculator_flat.calculator_travel[data-mode="checkout"] .radio:before*/ {
    display: none;
}

.radio-wrap_switch:first-child .radio, 
.fieldset__title + .radio-wrap_switch .radio/*, 
.calculator_flat[data-mode="checkout"] .radio-wrap:first-child .radio, 
.calculator_flat[data-mode="checkout"] .fieldset__title + .radio-wrap .radio*/ {
    border-radius: 6px 0 0 6px;
}

.radio-wrap_switch:last-child .radio/*, 
.calculator_flat[data-mode="checkout"] .radio-wrap:last-child .radio*/ {
    border-radius: 0 6px 6px 0;
    margin-left: -1px;
}


.calculator__table {
    border-collapse: collapse;
    padding: 28px 40px;

    width: 100%;
    font-size: 15px;
    line-height: 17px;
    color: #373737;
}

.calculator__table tbody {


}

.calculator__table thead {
    background: #fff;
}

.calculator__table td, .calculator__table th {
    border-collapse: collapse;
    text-align: center;
    padding: 12px 0;
    vertical-align: middle;
}


.calculator__table th {
    font-weight: normal;
    color: #404040;
    padding: 20px 0 0 0;
    width: 230px;
    text-align: center;
    font-size: 22px;
    line-height: 24px;
    font-family: 'pf_highway_sans_thin';
}

.calculator__table th:first-child, .calculator__table tbody td:first-child {
    padding-left: 0px;
}

.calculator__table th:last-child, .calculator__table tbody td:last-child {
    padding-right: 0px;
}

.calculator__table tbody td {
    width: 200px;
    text-align: center;
}

.calculator__table tfoot td {
    text-align: left;
    padding-left: 28px;
}

.calculator__table tfoot td._with-slider {
    padding-bottom: 20px;
}
/*
.calculator__table td:nth-child(1) {
    text-align: left;
    padding-left: 40px;
}

.calculator__table tr td:last-child, .calculator__table tr th:last-child {
    padding-right: 35px;
}
*/

.calculator__table tfoot tr:last-child td {
    padding-bottom: 28px;
}

.calculator__table tbody tr:first-child td {
    padding-top: 14px;
}

.calculator__table tbody tr:first-child td:first-child {
    border-radius: 6px 0 0 0;
}

.calculator__table tbody tr:first-child td:last-child {
    border-radius: 0 6px 0 0;
}

.calculator__table tfoot tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}

.calculator__table tfoot tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}

.calculator__table .checkbox-wrap {
    margin-bottom: 0;
}

/*
.calculator__table tr td:nth-child(n + 1) {
    width: 151px;
}

.calculator__table tr td:first-child {
    width: 280px;
}*/

.calculator_flat .help-icon {
    width: 16px;
    height: 15px;
    background: url(../img/grey-help-icon.png) 0 0 no-repeat;
    margin-top: -2px;
    margin-right: 0;
}

.calculator_flat .checkbox_big, .calculator_flat .checkbox_auto {
    background-position: 0 -520px;
    width: 20px;
    height: 20px;
    border: solid 1px #74a3c7;
    border-radius: 2px;
}

.calculator_flat .checkbox_big._checked, .calculator_flat .checkbox_auto._checked {
    background-position: 0 -632px;
}

.calculator__result {
    display: inline-block;
    width: 128px;
    text-align: center;
    font-size: 17px;
    line-height: 28px;
    color: #000;
    text-decoration: none;
    background: #ffdd2e;
    border-radius: 15px;
    position: relative;
}

.calculator__result .rouble {
    margin-top: -2px;
}

.calculator__table td.calculator__cell_slider {
    background: #f7f8f8;
    padding-right: 28px;
    border-radius: 6px;
}

.calculator__cell_slider .input-wrap_slider {
    margin-top: 0;
}

.calculator__cell_slider .input-wrap_slider .label {
    width: auto;
    color: #373737;
    margin-top: 12px;
    margin-bottom: 32px;
}

.calculator__cell_slider .label ~ .slider-wrapper {
    width: 100%;
}

.calculator__cell_slider .slider__price {
    color: #383838;
    font-size: 15px;
}

.calculator_travel .block__main-title {
    margin-top: 21px;
    margin-bottom: 10px;
    font-size: 56px;
    line-height: 56px;
    /*color: #000;*/
}

.calculator_travel .block {
    height: 350px;
}

.calculator_travel .block__background {
    top: -100px;
}

.calculator__table tr td.calculator__cell_extra {
    text-align: center;

    padding: 20px 85px;
    width: auto;
}

.calculator__cell_extra a {
    text-decoration: none;
    color: #74a3c7;
    /*border: solid 1px #c3d3e4;
    border-width: 1px 0;*/

    display: block;
   /* height: 38px;
    padding-top: 20px;*/
    line-height: 29px;
    font-size: 27px;
    display: inline-block;
    border-bottom: dotted 1px;
    font-family: 'pf_highway_sans_thin';
}

.calculator__steps {
    margin-bottom: 50px;
    margin-left: 86px;
    color: #4d5562;
    font-size: 16px;
    height: 92px;
}

.calculator__step {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 280px;
    position: relative;
}

.calculator__step-number {
    width: 36px;
    height: 28px;
    border-radius: 36px;
    border: solid 1px #ffdf00;
    text-align: center;
    padding-top: 8px;
    font-size: 26px;
    line-height: 20px;
    color: #505867;
    font-family: 'pf_highway_sans_prolight';
    display: inline-block;
    margin-bottom: 4px;
}

.calculator__step_current .calculator__step-number {
    background: #ffdf00;
}

.calculator__step-wrap {
    display: inline-block;
    text-align: center;
}

.calculator__step:last-child {
    width: auto;
}

.calculator__step_delim:before {
    /*background: url(../img/steps-dots.png) 0 0 no-repeat;*/
    background: url(../img/steps-stripe.png) 0 0 no-repeat;
    width: 205px;
    height: 8px;
    position: absolute;
    content: '';
    right: 17px;
    top: 18px;
}

.calculator__step-wrap {
    position: relative;
}

.calculator__step-label {
    position: absolute;
    width: 200px;
    left: 50%;
    bottom: -40px;
    margin-left: -100px;
    color: #000;
}

.calculator__benefits-item {
    /*font-size: 18px;
    font-family: 'pf_highway_sans_thin',Arial,Verdana,sans-serif;
    font-size: 26px;
    line-height: 30px;*/
    
    font-size: 16px;
    line-height: 28px;
    padding-top: 2px;
}

.calculator__benefits-item:before {
    margin-top: 10px;
}

/************************* FORM *******************************/
.calculator_flat.calculator_travel .input-wrap_policy-date {
    margin-bottom: 30px;
}

.calculator_flat.calculator_travel[data-mode="checkout"] .fieldset {
    margin-bottom: 30px;
}

.calculator_flat[data-mode="checkout"] .label-wrap:not(.label-wrap_phone):not(.label-wrap_email) {
    width: auto;
    color: #000000;
    display: block;
    margin-bottom: 12px;
    margin-right: 0;
    font-size: 15px;
}

.calculator_flat.calculator_travel[data-mode="checkout"] .label {
    color: #000000;
}

.calculator_flat.calculator_travel[data-mode="checkout"] .input.input_tiny.input_residence-flat,
.calculator_flat.calculator_travel[data-mode="checkout"] .input.input_tiny.input_registration-flat,
.calculator_flat[data-mode="checkout"] .input:not(.input_date):not(.input_residence-flat):not(.input_phone):not(.input_email):not(.input_passport-number):not(.input_passport-foreign) {
    width: 710px;
}

.calculator_flat.calculator_travel[data-mode="checkout"] .fieldset__title_inline {
    display: block;
    width: auto;
}

.calculator_flat.calculator_travel[data-mode="checkout"] .textarea-wrap .textarea-wrapper {
    width: 725px;
}

.calculator_flat.calculator_travel[data-mode="checkout"] .checkbox-wrap_agreement, .calculator_flat.calculator_travel[data-mode="checkout"] .checkbox-wrap_monthly {
    margin-left: 0;
}

.calculator_flat.calculator_travel[data-mode="checkout"] .checkbox {
    margin-top: 2px;
}

.calculator_flat.calculator_travel[data-mode="checkout"] input.yellow-btn {
    margin-left: 0;
}
/************************* FORM *******************************/

.policy-cost-wrap {
    margin-bottom: 50px;
}

.calculator_travel.calculator_flat .block__main-title {
    font-size: 49px;
}

.calculator__result._disabled {
    opacity: 0.3;
    cursor: default;
}

.calculator_flat .yellow-btn_count._hidden {
    display: none;
}

.calculator_flat .yellow-btn_count {
    margin: 0 auto;
    width: 93px;
    display: block;
}

.calculator_flat.calculator_travel[data-mode="checkout"] .input-wrap_passport-number.input-wrap_inline {
    display: block;
}

.block__main-title_under-title {
    text-align: center;
    width: 750px;
    margin: 0 auto;
    /*padding-bottom: 100px;*/
}

.calculator__footer_buy-now {
    font-weight: bold;
}

.calculator_flat.calculator_travel .form__error-wrap {
    left: 0;
}

.calculator_flat .input-wrap_date .form__error-wrap {
    top: 88px;
}

.calculator_flat.calculator_travel .input-wrap_inline .form__error-wrap {
    display: block;
}

.calculator_flat.calculator_travel .input-wrap_autocomplete.input-wrap[class*='building']._invalid .error-icon {
    margin-left: 0;
}

.calculator_flat.calculator_travel .input-wrap_apartment.input-wrap_inline {
    margin-right: 0;
}

.calculator_flat.calculator_travel[data-mode="checkout"] .input.input_tiny.input_residence-flat,
.calculator_flat.calculator_travel[data-mode="checkout"] .input.input_tiny.input_registration-flat,
.calculator_flat.calculator_travel[data-mode="checkout"] .input:not(.input_date):not(.input_residence-building):not(.input_residence-flat):not(.input_phone):not(.input_passport-number):not(.input_passport-foreign).input_tiny.input_apartment {
    /*padding-left: 0;
    padding-right: 0;
    width: 747px;*/
    padding: 0 19px;
    text-align: left;
}

.calculator_flat.calculator_travel input.yellow-btn::-moz-focus-inner {
	border: 0; 
	padding: 0px;
	margin-top: 0px; 
	margin-bottom: 0px; 
}

.calculator_flat .price_loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 30px;
    /*background: url(../img/loader.gif) no-repeat center center;*/
}

.calculator_flat .count_loader-wrap {
    position: relative;
    margin: 0 auto;
}

.calculator_flat .count_loader {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    /*background: url(../img/loader.gif) no-repeat center center;*/
}

.calculator__cell .help-icon__popup {
    text-align: left;
}

.calculator__cell {
    position: relative;
}

._has-slider .calculator__cell:before {
    background: url(../img/gray-arr-slider.png) no-repeat 0 0;
    width: 20px;
    height: 10px;
    position: absolute;
    content: '';
    top: -10px;
    left: 29px;
}

.calculator__cell .select {
    width: 90%;
}
.calculator__cell .select-wrap {
    margin-bottom: 0;
}

.calculator_flat[data-mode="checkout"] .logout-msg {
    margin-left: 0;
}

.calculator__table .select {
    border-color: #74a3c7;

}

.calculator__table .select__selection {
    font-size: 16px;
}

.calculator__table .select__area {
    padding-top: 10px;
    padding-bottom: 10px;
}

.calculator_flat .submission__column {
    display: inline-block;
    vertical-align: top;
    box-shadow: none;
}

.calculator_flat .submission__column_left {
    width: 704px;
    margin-right: 10px;
    background: #fff;
}

.calculator_flat .submission__column_right {
    width: 308px;
}

.calculator_auto .calculator__inner {
    padding: 0 0 100px 0;
    width: 1028px;
}

.block_auto-block {
    height: 264px;
    padding-top: 86px;
    margin-bottom: 66px;
}

.block_auto-block .block__main-title + .block__text {
    font-size: 36px;
    line-height: 46px;
}

.calculator_auto .submission__item, .calculator_auto .submission__item_with-shadow {
    border-radius: 6px;
    background: #f8f8f8;
    margin-bottom: 10px;
    box-shadow: none;
}

.calculator_auto .submission__column_left .submission__item {
    border-radius: 0;
    background: transparent;
    padding: 0;
}

.calculator_flat .fieldset:last-child {
    margin-bottom: 0;
}

.fieldset + .input-wrap_slider.input-wrap_enginehorsepower {
    margin-top: 90px;
}

.calculator_auto .submission__column_left .select {
    width: 290px;
}

.fieldset_autotype {
    padding: 0 9px 0 16px;
}

.fieldset_autotype .radio-wrap {
    margin: 0 0 20px 0;
    display: block;
}

.calculator_auto .submission__item_autotype {
    padding: 20px 0 1px;
}

.calculator_auto .policy-cost-wrap {
    margin: 30px 16px;
}

/*
.calculator_auto .form__error-wrap {
    display: none;
    margin-left: 8px;
    position: static;
}
*/
.calculator_auto ._invalid .form__error-wrap {
    display: inline-block;
    left: 0;
}



.form_auto {
    font-family: 'pragmatica_book';
}

.calculator_flat.calculator_travel .input-wrap_autocomplete.input-wrap[class*="building"]._invalid .error-icon {
    margin-right: 0;
    margin-left: 3px;
}

.fieldset_casco-osago-agreement .label-wrap {
    display: block;
    color: #000;
    margin: 0 0 14px 0;
}

.fieldset_casco-osago-agreement .label {
    color: #000;
    margin: 0;
}

.calculator_auto .input_date {
    width: 280px;
}

.calculator_auto .submission__column_left .input-wrap_date {
    margin-right: 40px;
}

.calculator_auto .input-wrap_date:last-child {
    margin-right: 0;
}

.fieldset_auto-block {
    background: #f9f9f9;
    border-radius: 6px;
    padding: 20px;
}

.calculator_flat.calculator_travel .fieldset_sum .label.label_radio {
    font-size: 15px;
}

.package_form .submission__sum {
    margin: -40px 0 0 0;
    padding: 0 0 0 50px;
    font-size: 28px;
}

.package_form .submission__sum + .checkbox-wrap_osago {
    margin-top: 0;
}

.calculator__header-icon {
    content: '';
    width: 58px;
    height: 58px;
    background: url(../img/vzr-header.png) 0 0 no-repeat;
    margin: 0 auto;
    margin-bottom: 20px;
}

.calculator__cell_base .calculator__header-icon {
    background-position: 0 0;
}

.calculator__cell_active .calculator__header-icon {
    background-position: -58px 0;
}

.calculator__cell_sport .calculator__header-icon {
    background-position: -116px 0;
}

.calculator_flat.calculator_travel .calculator__step_delim:before {
    height: 1px;
    background: #ccc;
    right: auto;
    left: 38px;
    width: 242px;
}

.calculator_flat.calculator_travel .calculator__step_current.calculator__step_delim:before {
    background: #ffdf00; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZGYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #ffdf00 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffdf00), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ffdf00 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ffdf00 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ffdf00 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to right,  #ffdf00 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdf00', endColorstr='#cccccc',GradientType=1 ); /* IE6-8 */

}

.calculator_flat.calculator_travel .calculator__step-number {
    background: #cccccc;
    border-color: #cccccc;
    color: #fff;
}

.calculator_flat.calculator_travel .calculator__step_current .calculator__step-number {
    background: #ffdf00;
    border-color: #ffdf00;
    color: #665d33;
}

.calculator_flat.calculator_travel .calculator__step:first-child .calculator__step-label {
    bottom: -24px;
}

.calculator_flat.calculator_travel .calculator__step .calculator__step-label {
    color: #404040;
    font-size: 15px;
    bottom: -44px;
}

.calculator_flat.calculator_travel .calculator__steps {
    margin-bottom: 29px;
}

.calculator_flat.calculator_travel .autocomplete-wrapper_inside .autocomplete-result__item {
    background: #c2c2c2;
    color: #fff;
}

.calculator_flat.calculator_travel .autocomplete-wrapper_inside .autocomplete-result__delete {
    width: 13px;
    height: 13px;
    background: url(../img/close-white-vzr.png) 0 0 no-repeat;
    margin-top: -6px;
}

.calculator_flat.calculator_travel .autocomplete-wrapper {
    padding-left: 10px;
    width: 698px;
}

.calculator_flat.calculator_newvzr .autocomplete-wrapper {
    padding-left: 18px;
    width: 690px;
}
.calculator_flat.calculator_newvzr .radio-wrap .radio {
    margin-right: 6px;
}
.calculator_flat.calculator_newvzr .radio-wrap {
    margin-right: 20px;
}
.calculator_flat.calculator_newvzr .fieldset_range .input:hover {
    background-position: 96% -827px;
}

.calculator_newvzr .calculator__cell_slider .slider__price {
    font-family: 'pragmatica_light';
}

.calculator_flat.calculator_travel .autocomplete-wrapper_inside .autocomplete-result__item {
    margin-right: 10px;
}

.calculator_flat.calculator_travel .autocomplete-helper_bottom {
    margin: 14px 0 0;
}

.calculator_flat.calculator_travel .input-clear {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    margin-top: -13px;
    background-color: #cccccc;
}

.calculator_flat.calculator_travel .radio-wrap {
    margin-right: 18px;
}

.calculator_flat.calculator_travel .radio._checked:before {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    left: 3px;
    top: 3px;
}

.calculator_flat.calculator_travel .label_days {
    color: #808080;
}

.calculator_flat.calculator_travel .fieldset_info {
    margin-bottom: 18px;
}

.calculator_flat.calculator_travel .fieldset_days {
    margin-bottom: 21px;
}

.calculator_flat.calculator_travel .input-wrap_spinner-outside .ui-spinner.ui-spinner-div a.ui-spinner-button, .calculator_flat.calculator_travel .input-wrap_spinner-outside .ui-spinner a.ui-spinner-button {
    border-color: #70a4d8;
}

.calculator_flat.calculator_travel .ui-spinner-div-val {
    color: #404040;
}

.calculator_flat.calculator_travel .help-icon {
    width: 20px;
    height: 20px;
    background: url(../img/grey-help-icon-vzr.png) 0 0 no-repeat;
}

.calculator_flat.calculator_travel .fieldset_sum + .fieldset_options {
    margin-top: -29px;
}

.calculator_flat.calculator_travel .fieldset__title_options + .after-title {
    text-align: center;
    margin: -6px 0 14px 0;
    display: block;
    color: #808080;
}

.calculator_flat.calculator_travel .checkbox + .label {
    margin-top: 4px;
}

.calculator_flat.calculator_travel .label_checkbox + .help-icon {
    margin-top: 2px;
}

.calculator_flat.calculator_travel .slider__info {
    line-height: 22px;
    padding: 14px;
}

.calculator_flat.calculator_travel .ui-slider .ui-slider-handle {
    background-color: #ffeb33;
    border: solid;
    border-width: 0 1px 1px 1px;
    border-color: #f5e697 #fcd82e #f2d430 #fcd82e;
    box-shadow: 0 3px 6px -1px #fbd329 inset;
}

.calculator_flat.calculator_travel .calculator__result {
    background: #ffe32e; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTMyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWQ3MjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffe32e 0%, #fad728 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe32e), color-stop(100%,#fad728)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffe32e 0%,#fad728 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffe32e 0%,#fad728 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffe32e 0%,#fad728 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffe32e 0%,#fad728 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe32e', endColorstr='#fad728',GradientType=0 ); /* IE6-8 */

    box-shadow: 0 1px 1px 0 #b49b1d;
    position: relative;
}

.calculator_flat.calculator_travel .calculator__result:hover {
    background: #ffd940; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDk0MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmNkMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffd940 0%, #ffcd33 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd940), color-stop(100%,#ffcd33)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffd940 0%,#ffcd33 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffd940 0%,#ffcd33 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffd940 0%,#ffcd33 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffd940 0%,#ffcd33 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd940', endColorstr='#ffcd33',GradientType=0 ); /* IE6-8 */

}


.calculator_flat.calculator_travel .calculator__result:hover .rouble, .calculator_flat.calculator_travel .calculator__result:active .rouble {
    display: none;
}

.calculator_flat.calculator_travel .calculator__result:hover:before {
    position: absolute;
    content: 'Купить';
    left: 0;
    top: 0;


    border-radius: 15px;
    color: #000;
    display: inline-block;
    font-size: 17px;
    line-height: 29px;
    text-align: center;
    text-decoration: none;
    width: 128px;

    background: #ffd940; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDk0MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmNkMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffd940 0%, #ffcd33 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd940), color-stop(100%,#ffcd33)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffd940 0%,#ffcd33 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffd940 0%,#ffcd33 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffd940 0%,#ffcd33 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffd940 0%,#ffcd33 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd940', endColorstr='#ffcd33',GradientType=0 ); /* IE6-8 */

    box-shadow: 0 1px 1px 0 #b49b1d;
}

.calculator_flat.calculator_travel .calculator__result:active, .calculator_flat.calculator_travel .calculator__result:hover {
    box-shadow: none;
}

.calculator_flat.calculator_travel .calculator__result:active:before {
    position: absolute;
    content: 'Купить';
    left: 0;
    top: 0;


    border-radius: 15px;
    color: #000;
    display: inline-block;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    width: 128px;

    background: #ffcd33; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2QzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmQ5NDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffcd33 0%, #ffd940 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcd33), color-stop(100%,#ffd940)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffcd33 0%,#ffd940 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffcd33 0%,#ffd940 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffcd33 0%,#ffd940 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffcd33 0%,#ffd940 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcd33', endColorstr='#ffd940',GradientType=0 ); /* IE6-8 */

    box-shadow: 0 1px 1px 0 #b49b1d inset;
}