
/************************** Landing blocks ************************/

.block {
    position: relative;
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.block_white {
    color: #fff;
    padding: 0;
}

.block_black {
    color: #000;
    background-color: #fff;
}

.block_left {
    text-align: left;
}

.block_center {
    text-align: center;
}

/*
.block_parallax {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 200;
}*/

.block__main-maintitle,
.block__main-title,
.block__video-link {
    font-size: 60px;
    line-height: 65px;
    font-family: 'pf_highway_sans_extra_thin', Arial, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: normal;

}

.header + form + .block_white .block__main-title,
.header + .block_white .block__main-title {
    font-size: 83px;
    line-height: 83px;
    font-family: 'pf_highway_sans_extra_thin', Arial, Verdana, sans-serif;
}

.block_black .block__main-title {
    color: #393939;
}

.block__main-title + .block__text {
    font-size: 30px;
    line-height: 36px;
    font-family: 'pf_highway_sans_thin', Arial, Verdana, sans-serif;
    margin-top: 18px;
}

.block__text p {
    margin: 0;
}

.block__text p + p {
    margin-top: 20px;
}

.block_main .block__text h2 {
    font: 30px/40px 'pf_highway_sans_prolight', Arial, Verdana, sans-serif;
}

.block_main .block__text {
    font: 21px/30px 'pragmatica_light', Arial, Verdana, sans-serif;
    padding: 5px 0 27px;
}

.cta {
    font-size: 18px;
    line-height: 18px;
    display: inline-block;
    text-align: center;
    border: solid 2px #fff;
    border-radius: 20px;
    font-family: 'pragmatica_book';
    color: #fff;
    text-decoration: none;
    padding: 12px 26px;
}


.cta_upper {
    text-transform: uppercase;
    font-family: 'pragmatica_light';
    font-size: 16px;
}

.cta_video {
    font-size: 18px;
    font-family: 'pragmatica_light';
    text-decoration: none;
    color: #fff;
    padding-left: 57px;
    position: relative;
}

.cta_video:before {
    content: '';
    display: block;
    width: 44px;
    height: 44px;
    border: 1px solid #fff;
    border-radius: 22px;
    position: absolute;
    top: -2px;
    left: 0;
    background: url(../img/play-icon.png) no-repeat 17px 14px;
}
.block_white .cta_video:hover:before {
    background-color: rgba(225, 225, 225, 0.6);
}

.block_home-watch.block_white.block_travel-watch .cta,
.block_home-watch.block_white.block_health-watch .cta,
.block_home-watch.block_white.block_auto-watch .cta,
.block_home-watch.block_white.block_property-watch .cta,
.block_white .cta {
    border-color: #fff;
    color: #fff;
    border-radius: 24px;
}

.block_white .cta:hover {
    color: #000;
    background-color: rgba(225, 225, 225, 0.6);
}

.block_white .cta_video {
    border: none;
    color: #fff;
}

.block_white .cta_video:hover {
    color: #fff;
    background: none;
}
.win-popup .cta:not(.yellow-btn), .form_callback-submit .cta,
.block_black .cta:not(.yellow-btn), .footer .cta {
    border-color: #000;
    color: #000;
    font-family: 'pragmatica_book';
    font-size: 16px;
    line-height: 16px;
    border-radius: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 2px solid #77808B;
}

.block_black .cta:hover, .footer .cta:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: #000;
}

.block_black .yellow-btn.cta:hover {
    background-color: #ffd500;
}

.block_gray .cta:not(.yellow-btn) {
    border-color: #393939;
    color: #393939;
    font-family: 'pragmatica_book';
    font-size: 16px;
    line-height: 16px;
    border-radius: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 2px solid #393939;
}

.block_gray .cta:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: #393939;
}

.block_gray .yellow-btn.cta:hover {
    background-color: #393939;
}

.block_gray .block__items,
.block_home-watch.block_gray .block__items {
    color: #393939;
}

.block-content .cta.yellow-btn {
    font-size: 20px;
}

.icons .cta_online-chat {
    padding-left: 23px;
    padding-right: 24px;
}

.icons .cta_callback {
    padding-left: 26px;
    padding-right: 27px;
}
/******************** Property landing *********************/
.block_property-insurance {
    height: 400px;
}

.block_property-insurance .block__items {
    padding-top: 100px;
}

.block_property-insurance .block__background {
    top: -200px;
}

.yellow-btn.yellow-btn_insured-event {
    font-size: 18px;
    line-height: 18px;
    display: block;
    margin-right: 10px;
}

.block_property-insurance .block__text {
    /*font-family: 'pf_highway_sans_prolight', Arial, Verdana, sans-serif;*/
    margin-top: 30px;
}

.block_property-insurance .block__text a {
    color: #fff;
    text-decoration: none;
}

.block_property-insurance .cta {
    margin-top: 70px;
}

.block.block_buy {
    /*padding: 20px 0 50px;*/
    /*height: 552px;*/
    overflow: visible;
    padding: 50px 0 80px;
    margin: 0;
}

.block_buy .cta {
    margin-top: 10px;
}

.block_buy .icons__icon {
    /*margin-left: 138px;
    width: 210px;*/
    width: 212px;
    margin-left: 95px;
}

.block_buy .block__main-title {
    margin-bottom: 0px;
}

.block_buy .block__text {
    margin: 0;
}

.block_buy .icons {
    margin: 0;
    padding: 20px 0;
}

.block_buy .icons__icon:first-child {
    margin-left: 0;
}

.block_insure-subject {
    /*padding-top: 66px;
    height: 318px;*/
    /*padding-top: 103px;
    height: 400px;*/
    padding: 75px 0 85px;
}

.block_insure-subject .block__main-title {
    margin-bottom: 65px;
    /*padding-bottom: 65px;*/
    /*margin-bottom: 55px;*/
}

.block_insure-subject .icons {
    margin-top: 48px;
}

.block_insure-subject .cta {
    margin-top: 36px;
}

.block_insure-subject .icons__icon {
    padding-left: 100px;
    margin: 0;
}

.block_insure-subject .icons__icon:first-child {
    padding-left: 0;
    padding-right: 100px;
    border-right: solid 1px #b7b7b7;
}

.block_insure-subject .icon__icon .round-icon {
    margin-left: 0;
}

.block_insure-subject.icons__icon:first-child .round-icon {
    margin-left: -101px;
}

.block_insure-subject .block__text {
    margin: 0;
}

.block_main .block__text {
    font-size: 18px;
}




.block_property-pay {
    height: 400px;
    color: #393939;
}

.block_property-pay .block__background {
    top: -150px;
}

.block_property-pay .block__items, .block_auto-map .block__items {
    padding-top: 100px;
}

.block_property-pay .block__text, .block_auto-map .block__text {
    margin: 30px 0;
}

.block_property-pay.block_white .cta {
    color: #393939;
    border-color: #393939;
}

.block_property-pay.block_white .cta:hover {
    background: rgba(0,0,0,0.2);
}

.block_property-pay .cta {
    /*margin-top: 28px;*/
}

.block_property-case {
    padding-top: 68px;
    /*height: 822px;*/
    background-position: center 318px;
}

.block_property-case .block__text {
    font-size: 22px;
    line-height: 30px;
    margin-top: 23px;
}

.block_property-case .block__text a {
    color: #5ba1e7;
}

.block_property-case .cta {
    margin-top: 34px;
}

.block_auto-case {
    padding-top: 50px;
}

.block_auto-case .gadget-pager {
    margin-top: 197px;
}

.block_property-help {
    height: 400px;
    color: #393939;
}

.block_property-help .block__background {
    top: -150px;
}

.block_property-help .block__main-title {
    padding: 100px 0 0px;
}

.block_property-help .block__text {
    margin: 30px 0;
}

.block_property-help.block_white .cta {
    border-color: #393939;
    color: #393939;
}

.block_property-help.block_white .cta:hover {
    background: rgba(0,0,0,0.2);
}

/******************** Property landing *********************/

/******************** Home landing *************************/
.block_home-watch {
    height: 400px;
}

/*
.block_home-watch .block__background {
    top: -210px;
}*/

.block_home-watch .cta {
    margin-top: 58px;
    margin-top: 58px;
}
/*
.block_home-watch:not(.block_property-watch):not(.block_health-watch):not(.block_auto-watch) .block__items {

    color: #393939;
}
*/
.block_home-watch .block__items {
    padding-top: 100px;
}

.block_home-watch.block_white.block_travel-watch .block__main-title,
.block_home-watch.block_white.block_travel-watch .block__items,
.block_home-watch.block_white.block_health-watch .block__main-title,
.block_home-watch.block_white.block_health-watch .block__items,
.block_home-watch.block_white.block_auto-watch .block__main-title,
.block_home-watch.block_white.block_auto-watch .block__items,
.block_home-watch.block_white.block_property-watch .block__main-title,
.block_home-watch.block_white.block_property-watch .block__items,
.block_home-watch.block_property-watch .block__items {
    color: #fff;
}
/*
.block_home-watch:not(.block_property-watch):not(.block_health-watch):not(.block_auto-watch).block_white .cta {
    color: #393939;
    border-color: #393939;
}

.block_home-watch:not(.block_property-watch):not(.block_health-watch):not(.block_auto-watch).block_white .cta:hover {
    background: rgba(0,0,0,0.2);
}
*/
.block_home-online {
    padding-top: 76px;
    height: 586px;
}

.block_home-online .icons {
    margin-bottom: 70px;
}

.block_home-online .block__main-title {
    margin-bottom: 60px;
}

.block_home-online .icons__title {
    margin-top: 20px;
}

.block_home-case {
    height: 400px;
}

.block_home-case .block__items {
    padding-top: 100px;
    color: #393939;
}

.block_home-case.block_white .cta {
    color: #393939;
    border-color: #393939;
}

.block_home-case.block_white .cta:hover {
    background: rgba(0,0,0,0.2);
}

/*
.block_home-case .block__background {
    top: -100px;
}*/

.block_home-case .cta {
    margin-top: 30px;
}

.block_home-case .block__text {
    margin-top: 30px;
}

.block_home-actions {
    padding-top: 50px;
    padding-bottom: 50px;
    /*height: 416px;*/
}

.block_home-actions .icon {
    width: 118px;
    height: 109px;
    background: url(../img/step-icons.png) no-repeat;
    display: inline-block;
    position: relative;
}

.block_home-actions .icon:after {
    display: block;
    position: absolute;
    background: url(../img/grey-dots.png) 0 0 no-repeat;
    width: 150px;
    height: 11px;
    content: '';
    left: -206px;
    top: 58px;
}

.block_home-actions .icons__icon {
    margin-left: 138px;
    width: 240px;
}

.block_home-actions .icons__icon:first-child {
    margin-left: 0;
}

.block_home-actions .icons__icon:first-child .icon:after {
    display: none;
}


.block_home-actions .icon_insurance {
    background-position: 0 0;
}

.block_home-actions .icon_online {
    background-position: -120px 0;
}

.block_home-actions .icon_policy {
    background-position: -240px 0;
}

.block_home-actions .icons__title {
    margin-top: 28px;
}

.block_home-actions .block__main-title:last-child {
    margin-top: 50px;
    margin-bottom: 26px;

}

.block_home-actions .block__main-title:first-child {
    margin-bottom: 90px;
}
/******************** Home landing *************************/

/******************** Travel landing ***********************/
.block_travel-think {
    height: 400px;
}

.block_travel-think .block__background {
    top: -100px;
}

.block_travel-think .block__main-title {
    padding: 100px 0 0px;
}

.block_travel-world {
    height: 400px;
}

.block_travel-world .block__background {
    top: -150px;
}

.block_travel-world .block__main-title {
    padding: 100px 0 30px;
}

.block_travel-world .block__text {
    margin: 0;
    padding-bottom: 30px;
}

.block_travel-case {
    padding-top: 69px;
    height: 958px;
    background-position: center 246px;
}

.block_travel-case .cta {
    margin-top: 38px;
}

.block_travel-case .block__text {
    font-size: 22px;
    line-height: 30px;
    margin-top: 13px;
}

.block_travel-case .block__text a {
    color: #5ba1e7;
}

.block_travel-help {
    height: 400px;
    color: #393939;
}

.block_travel-help.block_white .cta {
    border-color: #393939;
    color: #393939;
}

.block_travel-help.block_white .cta:hover {
    background: rgba(0,0,0,0.2);
}

.block_travel-help .block__background {
    top: -100px;
}

.block_travel-help .block__main-title {
    padding: 100px 0 0px;
}

.block_travel-help .block__text {
    margin: 30px 0;
}

/******************** Travel landing ***********************/

/******************** Health landing ***********************/
.block_health-care {
    height: 400px;
    color: #393939;
}

.block_health-care .block__background {
    top: -500px;
}

.block_health-care .block__main-title {
    padding: 100px 0 0px;
}

.block_health-level {
    height: 400px;
    color: #393939;
}

.block_health-level .block__background {
    top: -242px;
}

.block_health-level .block__main-title {
    padding: 100px 0 0px;
}

.block_health-level.block_white .cta {
    color: #393939;
    border-color: #393939;
}

.block_health-level.block_white .cta:hover {
    background: rgba(0,0,0,0.2);
}

.block_health-level .block__text {
    margin: 30px 0;
}

.block_health-case {
    padding-top: 75px;
}

.block_health-case .block__text {
    font-size: 22px;
    line-height: 30px;
    padding-top: 13px;
}

.block_health-case .block__text a {
    color: #5BA1E7;
}

.block_health-help {
    height: 400px;
    color: #393939;
}

.block_health-help .block__main-title {
    padding: 100px 0 0px;
}

.block_health-help .block__text {
    margin: 30px 0;
}

.block_health-help.block_white .cta {
    color: #393939;
    border-color: #393939;
}

.block_health-help.block_white .cta:hover {
    background: rgba(0,0,0,0.2);
}

.block_health-help .block__background {
    top: -130px;
}

/******************** Health landing ***********************/

/******************** About company landing ****************/
.block_about-about {
    height: 450px;
}

.block_about-about .block__background {
    top: -314px;
}

.block_about-about .block__main-title {
    padding: 100px 0 0px;
    margin-bottom: 30px;
}

.block_about-boss .block__main-title.block__main-title_sub {
    padding-bottom: 50px;
}

.block_about-about .block__text {
    margin-top: 0;
    width: 500px;
}

.block_about-insuarance {
    padding: 85px 0 90px;
}

.block_about-insuarance .block__main-title {
    margin-top: 0;
    text-align: center;
    padding-bottom: 40px;
    font-size: 30px;
    line-height: 36px;
    font-family: 'pf_highway_sans_thin', Arial, Verdana, sans-serif;
    color: #000;
}

.block_about-insuarance .icon {
    width: 220px;
    height: 125px;
    background: url(../img/icons_about.png) no-repeat;
    display: inline-block;
    position: relative;
}

.block_about-insuarance .icons__icon {
    margin-left: 40px;
    width: 236px;
}

.block_about-insuarance .icons__icon:first-child {
    margin-left: 0;
}
/*
.block_about-insuarance .icon_quality {
    background-position: 34px 0;
}

.block_about-insuarance .icon_availability {
    background-position: -245px 0;
}

.block_about-insuarance .icon_reliability {
    background-position: -523px 0;
}

.block_about-insuarance .icon_technicality {
    background-position: -800px 0;
}*/

.block_about-insuarance .icon_quality {
    background-position: 27px -268px;
}

.block_about-insuarance .icon_availability {
    background-position: -249px -268px;
    width: 230px;
}

.block_about-insuarance .icon_reliability {
    background-position: -523px -268px;
}

.block_about-insuarance .icon_technicality {
    background-position: -800px -268px;
}

.block_about-insuarance .icons__title {
    margin-top: 40px;
    text-align: center;
    width: 296px;
    height: 93px;
}

.block_about-insuarance .icons__icon:first-child .icons__title {
    margin-top: 28px;
    height: 105px;
}

.block_about-company  {
    height: 501px;
}

.block_about-company .block__background {
    top: -240px;
}

.block_about-company .block__main-title {
    padding: 150px 0 0;
    /*text-align: center;*/
    font-size: 40px;
    line-height: 50px;
}

.block_about-boss .block__main-title {
    padding: 53px 0 0px;
    text-align: center;
}

.block_about-boss .people-info-group__item {
    /*border-bottom: 1px solid #cccccc;*/
    padding: 50px 20px 45px;
}
.block_about-boss .people-info-group__item:last-child {
    border-bottom: none;
}
.block_about-boss .people-info-group__item:first-child {
    padding-top: 35px;
}
.block_about-boss .people-info-group__wrap .people-info-group__item:first-child {
    /*border-top: 1px solid #cccccc;*/
}
.people-info-group__wrap.people-info-group__wrap_more,
.block_about-boss .people-info-group__wrap_more {
    /*height: 0;*/
    display: none;
}
.block_about-boss .people-info-group__wrap_more._expanded {
    /*height: auto;
    transition: height 0.2s ease-in;
    -webkit-transition: height 0.2s ease-in;
    -o-transition: height 0.2s ease-in;*/
}
.block_about-boss .person-photo {
    height: 400px;
    width: 400px;
}
.person-photo__img {
    border-radius: 200px;
}
.block_about-boss .person-photo_left {
    float: left;
    /*margin-right: 55px;*/
}
.block_about-boss .person-photo_right {
    float: right;
    /*margin-left: 85px;*/
}
.block_about-boss .person-info_photo-left {
    margin-left: 455px;
}
.block_about-boss .person-info_photo-right {
    margin-right: 485px;
    width: 480px;
}
.block_about-boss .person-info {
    width: 475px;
}

.block_about-boss .person-info._no-photo {
    width: auto;
}

.block_about-boss .person-info._no-photo .person-info__post,
.block_about-boss .person-info._no-photo .person-info__name {
    display: inline-block;
    vertical-align: top;
    width: 600px;
}
.block_about-boss .person-info._no-photo .person-info__post {
    width: 465px;
}

.person-info.person-info_photo-right {
    padding-left: 28px;
}
.block_about-boss .person-info_tinkov {
    padding-top: 77px;
}

.person-info__name {
    font-size: 30px;
    line-height: 40px;
    font-family: 'pf_highway_sans_prolight';
}
.person-info__subname,
.person-info__post {
    font-size: 21px;
    line-height: 30px;
    padding: 5px 0 27px;
}
.person-info__text {
    font-size: 15px;
    line-height: 20px;
}

.more-link {
    text-align: center;
}

.more-link_bosses {
    margin: 10px 0 30px;
}

.more-link_bosses._expanded .blue-link_dashed.blue-link_group-more:after{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.blue-link_dashed.blue-link_group-more {
    font-size: 17px;
    padding-right: 20px;
    position: relative;
}
.blue-link_dashed.blue-link_group-more:after {
    position: absolute;
    content: '';
    top: 7px;
    right: 3px;

    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #74a3c7;

    /*transform: rotate(90deg);*/
}

.blue-link_dashed.blue-link_group-more._expanded:after {
    transform: rotate(180deg);
}

.block_about-report {
    padding: 37px 0 40px;
}

.block_about-report .documents {
    width: 1045px;
    margin-bottom: 0;
}

.block_about-report .documents__header {
    width: 317px;
}

.block_about-report .block__main-title {
    text-align: center;
    padding-bottom: 28px;
}

.block_about-tenders  {
    padding: 50px 0 32px;
}

.block_about-tenders  .block__main-title {
    text-align: center;
    padding-bottom: 40px;
}

.block_about-tenders .block__items {
    width: 1004px;
}

.tender-group {
    width: 1004px;
}

.tender {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 187px;
    margin-bottom: 19px;
}
.tender__img {
    float: left;
    border-radius: 4px 0 0 4px;
    height: 189px;
    width: 168px;
    position: relative;
    top: -1px;
    left: -1px;
    /*margin-right: 37px;*/
}
.tender__info {
    margin-left: 207px;
    margin-right: 80px;
}
.tender__publish-date {
    color: #767676;
    font-size: 16px;
    line-height: 24px;
    margin-top: 13px;
    font-family: 'pf_highway_sans_prolight';
}
.tender-title {
    display: inline;
    font-size: 29px;
    line-height: 31px;
    font-family: 'pf_highway_sans_thin';
    color: #70A4D8;
    border-bottom: 1px dashed #70A4D8;
    text-decoration: none;
}
.tender-title:hover {
    border-bottom: none;
}

.tender__preview-text {
    font-size: 16px;
    line-height: 20px;
    margin-top: 14px;
}
.more-link_tenders {
    text-align: right;
}
.blue-link.blue-link_tenders-group {
    font-size: 17px;
    text-decoration: underline;
}
.blue-link_tenders-group:hover {
    text-decoration: none;
}

.block_about-subscribes {
    padding-bottom: 48px;
}

.block_about-subscribes .form_subscribe {
    padding-bottom: 0;
}
/******************** About company landing ****************/

/******************** Auto landing *************************/
.block_auto-autoinsuarance {
    height: 625px;
}

.block_auto-autoinsuarance .block__background {
    left: 50%;
    top: 312px;
    margin-left: -422px;
    overflow: hidden;
    width: 844px;
    height: 270px;
}

.block_auto-autoinsuarance .block__background img {
    position: absolute;
    top: -1288px;
    left: -31px;
}

.block_auto-autoinsuarance .block__main-title {
    padding-top: 37px;
    padding-bottom: 5px;
    font-size: 80px;
    line-height: 75px;
    font-family: 'pf_highway_sans_extra_thin', Arial, Verdana, sans-serif;
}

.block_auto-time  {
    padding-bottom: 91px;
}

.block_auto-time .block__main-title {
    padding-top: 50px;
}

.block_auto-time  .block__text {
    margin-top: 0;
}

.block_auto-time .icons {
    padding: 70px 0 52px;
}

.block_auto-time .icons__icon {
    margin-left: 142px;
}

.block_auto-time .icons__icon:last-child {
    margin-left: 121px;
}

.block_auto-map .block__background,
.block_auto-map {
    height: 502px;
}

/*
.header + .block_auto-map.block_white .block__main-title,
.block_auto-map .block__main-title {
    padding: 100px 0 0px;
    font-size: 60px;
    line-height: 65px;
    font-family: 'pf_highway_sans_thin', Arial, Verdana, sans-serif;
}*/

/*
.block_auto-map .block__text {
    margin: 30px 0;
}*/

.block_auto-share {
    padding: 62px 0 114px;
}

.block_auto-share.block .social {
    position: static;
    margin-top: 74px;
}
    
.block_auto-share .social__link {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.block_auto-share .social__item {
    margin-left: 145px;
}

.block_auto-share .social__item:first-child {
    margin-left: 0;
}

.block_auto-share .social__link:before {
    width: 55px;
    height: 55px;
    background-image: url(../img/soc-icons-huge.png);
    margin: -28px 0 0 -28px;
}

.block_auto-share .social_colorful .social__link_facebook:before {
    background-position: -11px -25px;
}
.block_auto-share .social_colorful .social__link_twitter:before {
    background-position: -258px -25px;
}
.block_auto-share .social_colorful .social__link_vkontakte:before {
    background-position: -506px -25px;
}
.block_auto-share .social_colorful .social__link_facebook:hover:before {
    background-position: -11px -153px;
}
.block_auto-share .social_colorful .social__link_twitter:hover:before {
    background-position: -258px -153px;
}
.block_auto-share .social_colorful .social__link_vkontakte:hover:before {
    background-position: -506px -153px;
}
/******************** Auto landing *************************/


/******************** Unfold & Carousel ****************************/
.unfold {
    width: 100%;
    /*height: 902px;*/
    height: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center top;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1010;
    text-align: center;
    font-family: 'pf_highway_sans_extra_thin';
}

.carousel__title {
    font-size: 60px;
    line-height: 62px;
    text-align: center;
    color: #fff;

    margin-top: 48px;
}

.carousel_steps .carousel__title {
    /*color: #000;*/
}

.carousel__inner {
    overflow: hidden;
    width: 518px;
    height: 518px;
    background: rgba(255, 255, 255, 0.46);
    border-radius: 518px;
    margin: 42px auto 0;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

.carousel__item {
    float: left;
    width: 518px;
    height: 518px;
    text-align: center;
}

.unfold .cta {
    margin: 0 auto;
    z-index: 1100;
    position: relative;
}

.unfold .cta.yellow-btn_cta-faq {
    margin-top: 50px;
}

.unfold__button {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
}

.unfold__button:last-child {
    margin-right: 0px;
}

.clear + .unfold__button {
    margin-top: 20px;
}

.unfold .unfold__content-close,
.unfold .unfold__close {
    width: 40px;
    height: 40px;
    border: solid 1px #fff;
    border-radius: 40px;
    position: absolute;
    right: 40px;
    top: 20px;
    cursor: pointer;
    z-index: 1100;
}

.unfold .unfold__content-close:before,
.unfold .unfold__close:before {
    width: 16px;
    height: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -7px 0 0 -8px;
    background: url(../img/carousel-controls.png) 0 0 no-repeat;
    content: '';
    z-index: 1050;
}

.unfold__subtitle,
.unfold__title {
    padding-top: 80px;
    font-family: 'pf_highway_sans_thin';
    font-size: 69px;
    line-height: 75px;
    text-align: center;
    color: #fff;
    z-index: 1050;
    position: relative;
}

.unfold__side {
    float: left;
    width: 50%;
    color: #fff;
    text-align: center;
    z-index: 1050;
    position: relative;
}

.unfold__side-title {
    font-size: 120px;
    line-height: 120px;
    padding: 0px 0 65px;
    display: inline-block;
    vertical-align: top;
    width: 380px;
}

.unfold__side-title-wrap {
    color: #fff;
    font-family: 'pf_highway_sans_extra_thin';
    text-align: center;
    padding-top: 110px;
    z-index: 1050;
    position: relative;
}

.unfold__between-titles {
    font-size: 60px;
    line-height: 60px;
    margin: 50px 76px 0;
    display: inline-block;
    vertical-align: top;
}

.unfold__side__text {
    width: 355px;
    text-align: left;
    font-family: 'pragmatica_book';
    font-size: 16px;
}

.unfold__side_right .unfold__side__text {
    margin-left: 182px;
    float: left;
    /*text-align: center;*/
    text-align: left;
}

.unfold__side_left .unfold__side__text {
    margin-right: 182px;
    float: right;
    /*text-align: center;*/
    text-align: left;
}

._inactive .unfold__side__text {
    visibility: hidden;
}

.unfold__hover {
    z-index: 1020;
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
}

.unfold__hover_back {
    background: rgba(0, 0, 0, 0.58);
}

.unfold__hover_back._inactive {
    background: none;
}

.unfold__hover_cover {
    z-index: 1060;
}

.unfold__subtitle {
    font-size: 30px;
    line-height: 36px;
    padding: 20px 0 120px;
}

.unfold__side-title-wrap .cta,
.unfold__side .cta {
    font-size: 50px;
    line-height: 50px;
    font-family: 'pf_highway_sans_extra_thin';
    width: 480px;
    padding: 18px 0;
    border-radius: 42px;
    margin-bottom: 25px;
    z-index: 1100;
    background: rgba(255, 255, 255, 0.29);
}

.unfold__side._inactive .cta {
    background: transparent;
}

.unfold__side-title-wrap .cta {
    font-size: 80px;
    line-height: 80px;
    padding: 11px 0px 15px;
    border-radius: 52px;
    display: inline-block;
    width: auto;
}

.unfold__side-title-wrap .cta_year-cta {
    width: 272px;
    margin-right: 106px;
}

.unfold__side-title-wrap .cta_month-cta {
    width: 312px;
    margin-left: 67px;
}

.unfold_travel-help .unfold__title {
    padding-top: 90px;
    font-size: 60px;
}

.unfold_travel-help .unfold__side-title-wrap {
    padding-top: 62px;
}

.unfold_travel-help .unfold__side__text {
    text-align: left;
    width: 480px;
}

.unfold_travel-help .unfold__side_right .cta,
.unfold_travel-help .unfold__side_right .unfold__side__text {
    margin-left: 42px;
    float: left;
}

.unfold_travel-help .unfold__side_left .cta,
.unfold_travel-help .unfold__side_left .unfold__side__text {
    margin-right: 42px;
    float: right;
}

/*.unfold_health-help .unfold__between-titles {
    margin-left: 0;
    margin-right: 0;
}*/

.unfold__side .unfold__side__main-title-wrap {
    position: fixed;
    /*bottom: 50px;*/
    top: 45%;
    font-family: 'pf_highway_sans_thin';
    font-size: 36px;
    line-height: 44px;
}
.unfold__side .unfold__side__main-title {
    /*width: 280px;*/
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.unfold_property-pay .unfold__side._inactive .unfold__side__main-title {
    /*color: #000;*/
}
.unfold_property-pay.unfold__side .unfold__side__main-title {}

.unfold_property-pay.unfold .unfold__content-close, 
.unfold_property-pay.unfold .unfold__close {
    /*border-color: #000;*/
}

.unfold_property-pay.unfold .unfold__content-close:before, 
.unfold_property-pay.unfold .unfold__close:before {
    /*background-image: url(../img/carousel-controls_black.png);*/
}

.unfold_property-pay .carousel__arrow {
    /*background-image: url(../img/carousel-controls_black.png);*/
}

.unfold__hover_clickable {
    cursor: pointer;
}

.unfold__side__open-content .carousel__pager {
    margin: 10px;
}

.unfold__side__open-content {
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center top;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
}

.unfold .unfold__content-close {
    z-index: 2010;
}

.unfold .unfold__content-close:before {
    z-index: 2050;
}

.carousel__arrow {
    width: 35px;
    height: 67px;
    position: absolute;
    top: 386px;
    background: url(../img/carousel-controls.png) no-repeat;
    cursor: pointer;
    left: 50%;
}

.carousel__arrow.disabled {
    display: none!important;
}

.carousel__arrow_prev {
    background-position: 0 -17px;
    margin-left: -551px;
}

.carousel__arrow_next {
    background-position: -42px -17px;
    margin-left: 516px;
}

.carousel__pager {
    margin-top: 48px;
}

.carousel__pager a.carousel__pager__item_dot {
    display: inline-block;
    overflow: hidden;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    border: solid 1px #fff;
    margin-left: 8px;
    background: #fff;
}

.carousel__pager a.carousel__pager__item_dot.selected {
    background: transparent;
}

.carousel__pager a:first-child {
    margin-left: 0;
}

.carousel__pager a.carousel__pager__item_text {
    display: inline-block;
    overflow: hidden;
    padding: 12px 20px;
    border-radius: 24px;
    border: solid 1px #fff;
    margin-left: 8px;
    background: transparent;
    font-family: 'pragmatica_book';
    font-size: 17px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
}

.carousel__pager a.carousel__pager__item_text.selected {
    background: rgba(255, 255, 255, 0.2);
}

.carousel__item-text {
    font-size: 26px;
    line-height: 30px;
    margin-top: 16px;
}

.carousel__item-title {
    color: #000;
    font-size: 35px;
    line-height: 45px;
    position: relative;
    padding-top: 120px;
}

.unfold_home-case .carousel__item-title:before {
    top: -10px;
}

.unfold_home-case .carousel__item-text {
    font-size: 20px;
    line-height: 25px;
}

.unfold_home-case .carousel__inner,
.unfold_home-case .carousel__item {
    width: 450px;
    height: 450px;
}

.carousel__item-title:before {
    position: absolute;
    top: 0;
    left: 50%;
    width: 135px;
    height: 116px;
    margin-left: -67.5px;
    background: url(../img/home-carousel-icons.png) no-repeat;
    content: '';
}

.carousel__item-title_step1 {
    margin-top: 100px;
}

.carousel__item-title_step1:before {
    background-position: 0 0;
}

.carousel__item-title_step2 {
    margin-top: 68px;
}

.carousel__item-title_step2:before {
    background-position: 0 -116px;
}

.carousel__item-title_step3 {
    margin-top: 57px;
}

.carousel__item-title_step3:before {
    background-position: 0 -232px;
}

.carousel__item-title_step4 {
    margin-top: 84px;
    padding-top: 177px;
}

.carousel__item-title_step4:before {
    background-position: 0 -348px;
    height: 182px;
}

.carousel__item-title_step5 {
    margin-top: 94px;
}

.carousel__item-title_step5:before {
    background-position: 0 -530px;
}

.carousel_terms .carousel__inner,
.carousel_terms .carousel__item {
    width: 840px;
    border-radius: 20px;
    height: auto;
}

.carousel_terms .carousel__item {
    margin-right: 10px;
}

.carousel_terms .carousel__item-title:before {
    display: none;
}

.carousel_terms .carousel__inner {
    background: transparent;
    color: #fff;
    height: 455px;
    margin-top: 70px;
    box-shadow: none;
    
}

.carousel_terms .carousel__item {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    padding-bottom: 35px;
}

.carousel_terms .carousel__item-title {
    color: #fff;
    padding-top: 32px;
}

.carousel_terms .carousel__item-text {
    text-align: left;
    font-family: 'pragmatica_book';
    font-size: 17px;
    line-height: 26px;
    padding: 0 65px;
}

.unfold {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.carousel {
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

/******************** Unfold & Carousel ****************************/

/************************ Life casess ******************************/
.title_life-cases {
    font-family: 'pf_highway_sans_extra_thin';
    font-size: 60px;    
    line-height: 60px;
    text-align: center;
    margin-top: 85px;
    color: #fff;
}

.unfold_property-pay .faq_insure-rules .faq__answer,
.unfold_property-pay .carousel__pager a.carousel__pager__item_text,
.unfold_property-pay .carousel_terms .carousel__item-text,
.unfold_property-pay .carousel_terms .carousel__item-title,
.unfold_property-pay .carousel__title,
.unfold_property-pay .title_life-cases {
    /*color: #000;*/
}

.unfold_property-pay .carousel__pager a.carousel__pager__item_text {
    /*border-color: #000;*/
}

.unfold_property-pay .faq_insure-rules .faq__item._opened .faq__question:after,
.unfold_property-pay .faq__question.white-link_outer {
    /*border-bottom-color: #000;
    color: #000;*/
}

.unfold_property-pay.unfold .faq_insure-rules .faq__item._opened .faq__question:after,
.unfold_property-pay.unfold .faq_insure-rules .faq__question:after {
    /*border-top-color: #000;*/
}

.life-cases {
    width: 600px;
    height: 600px;
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
}

.life-cases.life-cases_health-cases {
    margin-top: 60px;
    margin-bottom: 50px;
}

.life-cases.life-cases_reality-cases {
    width: 972px;
    height: 430px;
    margin-top: 170px;
    margin-bottom: 50px;
}

.life-cases.life-cases_travel-cases {
    width: 704px;
    height: 514px;
    margin-top: 82px;
    margin-bottom: 50px;
}

.life-cases.life-cases_auto-cases {
    width: 874px;
    height: 547px;
    margin-top: 50px;
    margin: 16px auto;
}

.life-cases__item {
    position: relative;
}

.life-cases__point {
    width: 18px;
    height: 18px;
    background: #fcd717;
    border-radius: 18px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
}

.life-cases__point_plane {
    top: 37px;
    left: 247px;
}

.life-cases__point_ladder {
    top: 185px;
    left: 142px;
}

.life-cases__point_ambulance {
    top: 204px;
    left: 238px;
}

.life-cases__point_sign {
    top: 170px;
    left: 547px;
}

.life-cases__point_skateboard {
    top: 345px;
    left: 54px;
}

.life-cases__point_bag {
    top: 400px;
    left: 231px;
}

.life-cases__point_dog {
    top: 338px;
    left: 508px;
}

.life-cases__point_trap {
    top: 532px;
    left: 228px;
}

.life-cases__point_clouds {
    top: 37px;
    left: 141px;
}

.life-cases__point_picture {
    top: 77px;
    left: 438px;
}

.life-cases__point_battery {
    top: 185px;
    left: 437px;
}

.life-cases__point_bath {
    top: 167px;
    left: 631px;
}

.life-cases__point_garage {
    top: 289px;
    left: 60px;
}

.life-cases__point_fire {
    top: 356px;
    left: 315px;
}

.life-cases__point_chair {
    top: 313px;
    left: 448px;
}

.life-cases__point_fence {
    top: 352px;
    left: 780px;
}

.life-cases__point_thief {
    top: 330px;
    left: 907px;
}

.life-cases__point_house {
    top: 104px;
    left: 76px;
}

.life-cases__point_plane2 {
    top: 34px;
    left: 382px;
}

.life-cases__point_serf {
    top: 169px;
    left: 542px;
}

.life-cases__point_passport {
    top: 409px;
    left: 143px;
}

.life-cases__point_card {
    top: 438px;
    left: 211px;
}

.life-cases__point_mask {
    top: 383px;
    left: 274px;
}

.life-cases__point_photo {
    top: 451px;
    left: 293px;
}

.life-cases__point_bag2 {
    top: 450px;
    left: 26px;
}

.life-cases__point_bag3 {
    top: 450px;
    left: 413px;
}

.life-cases__point_net {
    top: 72px;
    left: 674px;
}

.life-cases__point_rent {
    top: 272px;
    left: 800px;
}

.life-cases__point_roof {
    top: 64px;
    left: 615px;
}

.life-cases__point_windows {
    top: 352px;
    left: 650px;
}

.life-cases__point_shark {
    top: 224px;
    left: 634px;
}

.life-cases__point_thunder {
    top: 23px;
    left: 216px;
}

.life-cases__point_pets {
    left: 145px;
    top: 88px;
}

.life-cases__point_animals {
    left: 380px;
    top: 78px;
}

.life-cases__point_evacuation {
    left: 718px;
    top: 72px;
}

.life-cases__point_car-jeep {
    left: 115px;
    top: 222px;
}

.life-cases__point_car-crash {
    left: 224px;
    top: 228px;
}

.life-cases__point_car-truck {
    left: 372px;
    top: 200px;
}

.life-cases__point_car-taxi {
    left: 592px;
    top: 240px;
}

.life-cases__point_car-ambulance {
    left: 775px;
    top: 224px;
}

.life-cases__point_car-consult {
    left: 228px;
    top: 355px;
}

.life-cases__point_car-baggage {
    left: 600px;
    top: 415px;
}

.life-cases__point_tornado {
    left: 783px;
    top: 400px;
}

.life-cases__point_car-stealing {
    left: 154px;
    top: 488px;
}

.life-cases__text {
    position: absolute;
    width: 180px;
    padding: 17px;
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    border-radius: 5px;
    display: none;
}

.life-cases__text_plane {
    top: -19px;
    left: 3px;
}

.life-cases__text_ladder {
    top: 76px;
    left: -50px;
}

.life-cases__text_ambulance {
    top: 108px;
    left: 187px;
}

.life-cases__text_sign {
    top: 91px;
    left: 548px;
}

.life-cases__text_skateboard {
    top: 198px;
    left: -138px;
}

.life-cases__text_bag {
    top: 406px;
    left: -19px;
}

.life-cases__text_dog {
    top: 284px;
    left: 565px;
}

.life-cases__text_trap {
    top: 479px;
    left: -20px;
}

.life-cases__text_clouds {
    top: -68px;
    left: 47px;
}

.life-cases__text_picture {
    top: -61px;
    left: 326px;
}

.life-cases__text_battery {
    top: 147px;
    left: 104px;
}

.life-cases__text_bath {
    top: 19px;
    left: 461px;
}

.life-cases__text_garage {
    top: 190px;
    left: -78px;
}

.life-cases__text_fire {
    top: 421px;
    left: 168px;
}

.life-cases__text_chair {
    top: 244px;
    left: 347px;
}

.life-cases__text_fence {
    top: 422px;
    left: 647px;
}

.life-cases__text_thief {
    top: 116px;
    left: 820px;
}

.life-cases__text_house {
    top: -12px;
    left: -44px;
}

.life-cases__text_plane2 {
    top: -54px;
    left: 450px;
}

.life-cases__text_serf {
    top: 49px;
    left: 289px;
}

.life-cases__text_passport {
    top: 275px;
    left: -102px;
}

.life-cases__text_card {
    top: 520px;
    left: 25px;
}

.life-cases__text_mask {
    top: 276px;
    left: 122px;    
}

.life-cases__text_photo {
    top: 275px;
    left: 347px;
}

.life-cases__text_bag2 {
    top: 360px;
    left: -164px;
}

.life-cases__text_bag3 {
    top: 522px;
    left: 466px;
}

.life-cases__text_net {
    top: -50px;
    left: 690px;
}

.life-cases__text_rent {
    top: 59px;
    left: 699px;
}

.life-cases__text_roof {
    top: -41px;
    left: 505px;
}

.life-cases__text_windows {
    top: 422px;
    left: 416px;
}

.life-cases__text_shark {
    top: 76px;
    left: 511px;
}

.life-cases__text_thunder {
    width: 219px;
    left: -58px;
}

.life-cases__text_pets {
    left: 206px;
    top: 48px;
    width: 119px;
}

.life-cases__text_animals {
    left: 394px;
    top: -10px;
}

.life-cases__text_evacuation {
    left: 626px;
    top: -6px;
}

.life-cases__text_car-jeep {
    left: -28px;
    top: 122px;
    width: 180px;
}

.life-cases__text_car-crash {
    width: 143px;
    left: 190px;
    top: 149px;
}

.life-cases__text_car-truck {
    width: 228px;
    left: 407px;
    top: 128px;
}

.life-cases__text_car-taxi {
    left: 435px;
    top: 339px;
    width: 127px;
}

.life-cases__text_car-ambulance {
    left: 651px;
    top: 135px;
    width: 150px;
}

.life-cases__text_car-consult {
    left: 248px;
    top: 282px;
}

.life-cases__text_car-baggage {
    left: 489px;
    top: 466px;
    width: 130px;
}

.life-cases__text_tornado {
    left: 661px;
    top: 482px;
}

.life-cases__text_car-stealing {
    width: 142px;
    left: -46px;
    top: 448px;
}

.life-cases__text:before {
    content: '';
    position: absolute;
    width: 1px;
    background: rgba(255, 255, 255, 0.15);
    height: 30px;
    font-family: 'pragmatica_light';
}

.life-cases__text_plane:before {
    height: 43px;
    top: 33px;
    left: 232px;
    transform: rotate(122deg);
    -webkit-transform: rotate(122deg);
    -moz-transform: rotate(122deg);
    -o-transform: rotate(122deg);
    -ms-transform: rotate(122deg);
}

.life-cases__text_ladder:before {
    height: 60px;
    top: 61px;
    left: 175px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
}

.life-cases__text_ambulance:before {
    height: 40px;
    top: 68px;
    left: 66px;
    transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
}

.life-cases__text_sign:before {
    height: 50px;
    top: 44px;
    left: 31px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.life-cases__text_skateboard:before {
    height: 60px;
    top: 97px;
    left: 175px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
}

.life-cases__text_bag:before {
    height: 50px;
    top: -6px;
    left: 235px;    
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
}

.life-cases__text_dog:before {
    height: 50px;
    top: 21px;
    left: -22px;
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
}

.life-cases__text_trap:before {
    height: 50px;
    top: 21px;
    left: 233px;
    transform: rotate(124deg);
    -webkit-transform: rotate(124deg);
    -moz-transform: rotate(124deg);
    -o-transform: rotate(124deg);
    -ms-transform: rotate(124deg);
}

.life-cases__text_clouds:before {
    height: 50px;
    top: 66px;
    left: 87px;
    transform: rotate(149deg);
    -webkit-transform: rotate(149deg);
    -moz-transform: rotate(149deg);
    -o-transform: rotate(149deg);
    -ms-transform: rotate(149deg);
}

.life-cases__text_picture:before {
    height: 110px;
    top: 43px;
    left: 96px;
    transform: rotate(149deg);
    -webkit-transform: rotate(149deg);
    -moz-transform: rotate(149deg);
    -o-transform: rotate(149deg);
    -ms-transform: rotate(149deg);
}

.life-cases__text_battery:before {
    height: 130px;
    top: -28px;
    left: 277px;
    transform: rotate(98deg);
    -webkit-transform: rotate(98deg);
    -moz-transform: rotate(98deg);
    -o-transform: rotate(98deg);
    -ms-transform: rotate(98deg);
}

.life-cases__text_bath:before {
    height: 115px;
    top: 57px;
    left: 144px;
    transform: rotate(142deg);
    -webkit-transform: rotate(142deg);
    -moz-transform: rotate(142deg);
    -o-transform: rotate(142deg);
    -ms-transform: rotate(142deg);
}

.life-cases__text_garage:before {
    height: 50px;
    top: 61px;
    left: 124px;
    transform: rotate(133deg);
    -webkit-transform: rotate(133deg);
    -moz-transform: rotate(133deg);
    -o-transform: rotate(133deg);
    -ms-transform: rotate(133deg);
}

.life-cases__text_fire:before {
    height: 70px;
    top: -64px;
    left: 137px;
    transform: rotate(33deg);
    -webkit-transform: rotate(33deg);
    -moz-transform: rotate(33deg);
    -o-transform: rotate(33deg);
    -ms-transform: rotate(33deg);
}

.life-cases__text_chair:before {
    height: 34px;
    top: 51px;
    left: 105px;
    transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
}

.life-cases__text_fence:before {
    height: 80px;
    top: -75px;
    left: 125px;
    transform: rotate(29deg);
    -webkit-transform: rotate(29deg);
    -moz-transform: rotate(29deg);
    -o-transform: rotate(29deg);
    -ms-transform: rotate(29deg);
}

.life-cases__text_thief:before {
    height: 116px;
    top: 104px;
    left: 85px;
    transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
}

.life-cases__text_house:before {
    height: 50px;
    top: 69px;
    left: 122px;
    transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
}

.life-cases__text_plane2:before {
    height: 70px;
    top: 42px;
    left: -27px;
    transform: rotate(51deg);
    -webkit-transform: rotate(51deg);
    -moz-transform: rotate(51deg);
    -o-transform: rotate(51deg);
    -ms-transform: rotate(51deg);
}

.life-cases__text_serf:before {
    height: 65px;
    top: 68px;
    left: 234px;
    transform: rotate(140deg);
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -o-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
}

.life-cases__text_mask:before {
    height: 60px;
    top: 61px;
    left: 177px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.life-cases__text_card:before {
    height: 110px;
    top: -94px;
    left: 152px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.life-cases__text_bag2:before {
    height: 50px;
    top: 58px;
    left: 171px;
    transform: rotate(122deg);
    -webkit-transform: rotate(122deg);
    -moz-transform: rotate(122deg);
    -o-transform: rotate(122deg);
    -ms-transform: rotate(122deg);
}

.life-cases__text_passport:before {
    height: 108px;
    top: 52px;
    left: 210px;
    transform: rotate(132deg);
    -webkit-transform: rotate(132deg);
    -moz-transform: rotate(132deg);
    -o-transform: rotate(132deg);
    -ms-transform: rotate(132deg);
}

.life-cases__text_photo:before {
    height: 130px;
    top: 58px;
    left: 1px;
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
}

.life-cases__text_bag3:before {
    height: 110px;
    top: -86px;
    left: 7px;
    transform: rotate(125deg);
    -webkit-transform: rotate(125deg);
    -moz-transform: rotate(125deg);
    -o-transform: rotate(125deg);
    -ms-transform: rotate(125deg);
}

.life-cases__text_net:before {
    height: 100px;
    top: 37px;
    left: 31px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.life-cases__text_rent:before {
    height: 150px;
    top: 67px;
    left: 90px;
    transform: rotate(167deg);
    -webkit-transform: rotate(167deg);
    -moz-transform: rotate(167deg);
    -o-transform: rotate(167deg);
    -ms-transform: rotate(167deg);
}

.life-cases__text_roof:before {
    height: 65px;
    top: 51px;
    left: 110px;
    transform: rotate(167deg);
    -webkit-transform: rotate(167deg);
    -moz-transform: rotate(167deg);
    -o-transform: rotate(167deg);
    -ms-transform: rotate(167deg);
}

.life-cases__text_windows:before {
    height: 75px;
    top: -64px;
    left: 212px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.life-cases__text_shark:before {
    height: 110px;
    top: 48px;
    left: 156px;
    transform: rotate(21deg);
    -webkit-transform: rotate(21deg);
    -moz-transform: rotate(21deg);
    -o-transform: rotate(21deg);
    -ms-transform: rotate(21deg);
}

.life-cases__text_thunder:before {
    height: 30px;
    top: 18px;
    left: 267px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.life-cases__text_pets:before {
    height: 50px;
    top: 10px;
    left: -22px;
    transform: rotate(65deg);
    -webkit-transform: rotate(65deg);
    -moz-transform: rotate(65deg);
    -o-transform: rotate(65deg);
    -ms-transform: rotate(65deg);
}

.life-cases__text_animals:before {
    height: 27px;
    top: 66px;
    left: 9px;
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
}

.life-cases__text_evacuation:before {
    height: 30px;
    top: 51px;
    left: 112px;
    transform: rotate(21deg);
    -webkit-transform: rotate(21deg);
    -moz-transform: rotate(21deg);
    -o-transform: rotate(21deg);
    -ms-transform: rotate(21deg);
}

.life-cases__text_car-jeep:before {
    height: 33px;
    top: 68px;
    left: 144px;
    transform: rotate(-21deg);
    -webkit-transform: rotate(-21deg);
    -moz-transform: rotate(-21deg);
    -o-transform: rotate(-21deg);
    -ms-transform: rotate(-21deg);
}

.life-cases__text_car-crash:before {
    height: 15px;
    top: 68px;
    left: 51px;
    transform: rotate(21deg);
    -webkit-transform: rotate(21deg);
    -moz-transform: rotate(21deg);
    -o-transform: rotate(21deg);
    -ms-transform: rotate(21deg);
}

.life-cases__text_car-truck:before {
    height: 30px;
    top: 48px;
    left: -11px;
    transform: rotate(48deg);
    -webkit-transform: rotate(48deg);
    -moz-transform: rotate(48deg);
    -o-transform: rotate(48deg);
    -ms-transform: rotate(48deg);
}

.life-cases__text_car-taxi:before {
    height: 90px;
    top: -86px;
    left: 145px;
    transform: rotate(21deg);
    -webkit-transform: rotate(21deg);
    -moz-transform: rotate(21deg);
    -o-transform: rotate(21deg);
    -ms-transform: rotate(21deg);
}

.life-cases__text_car-ambulance:before {
    height: 20px;
    top: 69px;
    left: 137px;
    transform: rotate(21deg);
    -webkit-transform: rotate(21deg);
    -moz-transform: rotate(21deg);
    -o-transform: rotate(21deg);
    -ms-transform: rotate(21deg);
}

.life-cases__text_car-consult:before {
    height: 25px;
    top: 48px;
    left: -5px;
    transform: rotate(21deg);
    -webkit-transform: rotate(21deg);
    -moz-transform: rotate(21deg);
    -o-transform: rotate(21deg);
    -ms-transform: rotate(21deg);
}

.life-cases__text_car-baggage:before {
    height: 56px;
    left: 112px;
    top: -54px;
    transform: rotate(21deg);
    -webkit-transform: rotate(21deg);
    -moz-transform: rotate(21deg);
    -o-transform: rotate(21deg);
    -ms-transform: rotate(21deg);
}

.life-cases__text_tornado:before {
    height: 70px;
    top: -67px;
    left: 116px;
    transform: rotate(21deg);
    -webkit-transform: rotate(21deg);
    -moz-transform: rotate(21deg);
    -o-transform: rotate(21deg);
    -ms-transform: rotate(21deg);
}

.life-cases__text_car-stealing:before {
    height: 30px;
    top: 29px;
    left: 189px;
    transform: rotate(104deg);
    -webkit-transform: rotate(104deg);
    -moz-transform: rotate(104deg);
    -o-transform: rotate(104deg);
    -ms-transform: rotate(104deg);
}

/********************** end Life casess ****************************/

.icon-popup .cta.cta_buy-online {
    padding-left: 24px;
    padding-right: 25px;
}

.icon-popup .cta.cta_online-chat {
    padding-left: 20px;
    padding-right: 22px;
}

.block__background {
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
}


/*
.block__background {
    transition: top 0.5s;
    -webkit-transition: top 0.5s;
}*/


.block_parallax .block__items,
.block_main-banner .block__items {
    margin-left: 212px;
}

.block_main-banner .block__main-title {
    font-size: 80px;
}

.block_main-banner .block__text {
    font-size: 50px;
    line-height: 60px;
    margin-top: 30px;
}

.block_home-case.block_main-banner .block__items,
.block_auto-autoinsuarance.block_main-banner .block__items {
    margin-left: auto;
}

.block_about-about .block__text,
.block_auto-autoinsuarance.block_main-banner .block__text {
    font-size: 30px;
    line-height: 36px;
    margin-top: 18px;
}

.block_about-about .block__main-title {
    font-size: 60px;
}

.block_case {
    margin-bottom: 50px;
    height: auto;
}

.block_auto-help .block__main-title,
.block_auto-structure .block__items, 
.block_auto-insurance .block__items {
    padding-top: 100px;
}

.block_auto-help .block__text,
.block_auto-structure .block__text {
    margin: 30px 0;
}

.gadget-pager {
    position: absolute;
    right: 50px;
    margin-top: 130px;
}

.gadget-pager.carousel__pager a.carousel__pager__item_dot {
    border: 1px solid #ccc;
    background: #ccc;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    display: block;
    margin: 10px 0;
}

.gadget-pager.carousel__pager a.carousel__pager__item_dot.selected {
    background: #fff;
}

.icons_icongroup a.cta_insurance {
    text-decoration: none;
    border-bottom: 1px solid #000;
    display: inline-block;
}

.icons_icongroup a.cta_insurance:hover {
    border-bottom: transparent;
}

.block_home-watch .block__main-title, .block_home-watch .block__main-title + .block__text {
    color: #000;
}

.page-links {
    margin: 0 0 50px;
}

.page-links__item {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
}

.page-links__link {
    color: #74A3C7;
}

.block_check-your-fines-fines-txt {
    margin-top: 20px;
}

.block_check-your-fines-fines-img {
    /*height: 350px;*/
}

.block_check-your-fines-fines-img.block_black .block__main-title {
    color: #000;
}

.block_check-your-fines-fines-img .block__background img {
    width: 100%;
    /*
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    height: auto;
    */
}

.block_check-your-fines-fines-img .block__items {
    /*position: relative;
    z-index: 2;
    width: 1070px;
    margin: 0 auto;*/
    padding-top: 33px;
    height: 300px;
}

.block_check-your-fines-fines-img .block__main-title {
    width: 83%;
    /*font-size: 60px;
    line-height: 65px;
    font-family: 'pf_highway_sans_extra_thin', Arial, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: normal;*/
}

.block_check-your-fines-fines-img .block__text {
    width: 80%;
    /*font-size: 30px;
    line-height: 36px;
    font-family: 'pf_highway_sans_thin', Arial, Verdana, sans-serif;
    margin-top: 18px;*/
}

.block_check-your-fines-fines-txt .block__text p + p:not(.fines__subtext) {
    margin-top: 0;
}

.block_check-your-fines-fines-txt p {
    font-size: 16px;
    line-height: 22px;
}

p.fines__subtext {
    font: 23px/30px 'pragmatica_light', Arial, Verdana, sans-serif;
    margin: 20px 0;
}

.cta_check-fines,
.block_check-your-fines-fines-txt .cta_buy-policy {
    margin: 20px 50px 50px;
}

.cta_check-fines {
    margin-left: 250px;
}

.block_check-your-fines-fines-txt .situation-text_fines {
    margin: 10px 0 20px;
}

.block_auto-auth.block_main-banner {
    
}

.block_auto-auth.block_main-banner .block__background {
    position: static;
}

.block_auto-auth.block_main-banner .block__background._fixed {
    position: fixed;
}

.block_auto-insurance.block_white.block_main-banner {
    /*color: #000;*/
}

.calculator_auto.calculator_flat .block__background {
    top: -100px;
}


/* auto auth */
.modal {
    position: absolute;
    left: 50%;
    background: #fff;    
    border-radius: 5px;
    z-index: 500;
    padding: 30px 30px 40px;
}

.modal_auto-code {
    /*width: 538px;
    top: 247px;*/
    width: 478px;
    margin-left: -269px;
    margin-top: -130px;
    top: 50%;
}

.modal_auto-code .form_auto-code .fieldset__title {
    font: 48px/50px 'pf_highway_sans_thin', Arial, sans-serif;
    text-align: center;
}

.modal_auto-code .txt_text {
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}

.form_auto-auth-sms .input-wrap_auto-sms,
.modal_auto-code .input-wrap_inline.input-wrap_phone {
    margin: 0 19px 0 50px;
    position: relative;
}

.form_auto-auth-sms .input-wrap_auto-sms {
    display: inline-block;
}

.modal_auto-code .input-wrap_inline .form__error-wrap {
    display: block;
}

.modal_auto-code input.yellow-btn {
    margin: 0;
}

.modal_auto-code .form__error-wrap {
    bottom: -20px;
    left: 0;
}

.txt_no-phone-found {
    display: none;
    color: #000;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

.form_auto-auth-sms {
    margin-top: 23px;
}

.form_auto-auth-sms .label-wrap.label-wrap_auto-sms {
    margin-right: 0;
}

.form_auto-auth-sms .input_tiny {
    width: 68px;
}

.form_auto-auth-sms .yellow-btn {
    width: 175px;
}

.txt_help-links {
    width: 180px;
    display: inline-block;
    vertical-align: middle;
}

.txt_help-links a,
.txt_help-links {
    font: 14px/16px 'pf_highway_sans_prolight', Arial, sans-serif;
    margin: 0px;
    display: inline-block;
    text-decoration: none;
    color: #70A4D8;
}

.txt_help-links a {
    border-bottom: 1px dashed #70A4D8;
}
/* end auto auth */


.block__video-link {
    margin-top: 30px;
}

.block__video-link_video {
    position: relative;
}

.block__video-link_video .block__gadget_samsung-black {
    margin: 0 auto;
}

#video {
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -320.5px;
}

.block_property-maintext .block__main-maintitle {
    margin: 20px 0;
}

.block__text p {
    line-height: 25px;
}

.block_property-pagelinks {
    margin: 0 auto;
    text-align: center;
    width: 1070px;
}

.block_property-pagelinks .block__items {
    display: inline-block;
}

.block__video-bg {
    background: url(../img/IPhone-6-Pic.png) 0 0 no-repeat;
    width: 830px;
    height: 381px;
    margin: 0 auto;
}

.block_auto-buy .cta_buy-cta {
    margin-top: 30px;
}

.block_auto-case .block__slider_samsung-black {
    margin-bottom: -48px;
    margin-top: 18px;
}

.block_auto-case .block__gadget_samsung-black {
    z-index: 90;
}

.block_auto-case .cta_todo-cta {
    position: relative;
    z-index: 100;
}

.block_auto-insurance .cta_buy {
    margin-top: 60px;
}